<div class="slider__btns">
  <button class="slider__btn slider__btn--prev" data-slider-nav="prev">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="44"
      height="42"
      viewBox="0 0 44 42"
      fill="none"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M43.1754 20.8873C43.1754 20.1241 42.5568 19.5055 41.7936 19.5055H5.22717C5.25639 19.4916 5.28592 19.4777 5.31575 19.4637C5.9922 19.146 6.7531 18.823 7.59706 18.4647C7.83772 18.3626 8.08512 18.2575 8.33925 18.1489C9.46779 17.6667 10.6977 17.127 11.9352 16.4997C16.8666 13.9999 22.2557 9.92358 22.2557 1.88765C22.2557 1.12451 21.6371 0.505859 20.874 0.505859C20.1108 0.505859 19.4922 1.12451 19.4922 1.88765C19.4922 8.32421 15.3219 11.6845 10.6856 14.0348C9.53118 14.62 8.36859 15.1311 7.25338 15.6076C7.0172 15.7085 6.78159 15.8085 6.548 15.9077C5.69519 16.2696 4.86927 16.6202 4.14098 16.9622C3.22369 17.393 2.34159 17.8636 1.67467 18.4141C1.0112 18.9617 0.348946 19.7672 0.339935 20.8761L0.339844 20.8873L0.339935 20.8986C0.348915 21.9934 1.00198 22.8063 1.64917 23.3673C2.30748 23.938 3.18156 24.4426 4.1001 24.9115C4.87771 25.3084 5.76281 25.7167 6.67765 26.1387C6.85614 26.221 7.03575 26.3038 7.21592 26.3872C8.33398 26.9047 9.50066 27.4551 10.6604 28.0734C15.3537 30.5754 19.4922 33.9505 19.4922 39.8869C19.4922 40.6501 20.1108 41.2687 20.874 41.2687C21.6371 41.2687 22.2557 40.6501 22.2557 39.8869C22.2557 32.314 16.8348 28.2332 11.9604 25.6347C10.7282 24.9778 9.5024 24.4003 8.37671 23.8792C8.18776 23.7918 8.00232 23.7062 7.82047 23.6223C6.90506 23.2 6.08059 22.8196 5.35664 22.4501C5.23602 22.3885 5.12018 22.3282 5.00906 22.2691H41.7936C42.5568 22.2691 43.1754 21.6504 43.1754 20.8873Z"
        fill="var(--white)"></path>
    </svg>
  </button>
  <button class="slider__btn slider__btn--next" data-slider-nav="next">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="44"
      height="42"
      viewBox="0 0 44 42"
      fill="none"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M43.1754 20.8873C43.1754 20.1241 42.5568 19.5055 41.7936 19.5055H5.22717C5.25639 19.4916 5.28592 19.4777 5.31575 19.4637C5.9922 19.146 6.7531 18.823 7.59706 18.4647C7.83772 18.3626 8.08512 18.2575 8.33925 18.1489C9.46779 17.6667 10.6977 17.127 11.9352 16.4997C16.8666 13.9999 22.2557 9.92358 22.2557 1.88765C22.2557 1.12451 21.6371 0.505859 20.874 0.505859C20.1108 0.505859 19.4922 1.12451 19.4922 1.88765C19.4922 8.32421 15.3219 11.6845 10.6856 14.0348C9.53118 14.62 8.36859 15.1311 7.25338 15.6076C7.0172 15.7085 6.78159 15.8085 6.548 15.9077C5.69519 16.2696 4.86927 16.6202 4.14098 16.9622C3.22369 17.393 2.34159 17.8636 1.67467 18.4141C1.0112 18.9617 0.348946 19.7672 0.339935 20.8761L0.339844 20.8873L0.339935 20.8986C0.348915 21.9934 1.00198 22.8063 1.64917 23.3673C2.30748 23.938 3.18156 24.4426 4.1001 24.9115C4.87771 25.3084 5.76281 25.7167 6.67765 26.1387C6.85614 26.221 7.03575 26.3038 7.21592 26.3872C8.33398 26.9047 9.50066 27.4551 10.6604 28.0734C15.3537 30.5754 19.4922 33.9505 19.4922 39.8869C19.4922 40.6501 20.1108 41.2687 20.874 41.2687C21.6371 41.2687 22.2557 40.6501 22.2557 39.8869C22.2557 32.314 16.8348 28.2332 11.9604 25.6347C10.7282 24.9778 9.5024 24.4003 8.37671 23.8792C8.18776 23.7918 8.00232 23.7062 7.82047 23.6223C6.90506 23.2 6.08059 22.8196 5.35664 22.4501C5.23602 22.3885 5.12018 22.3282 5.00906 22.2691H41.7936C42.5568 22.2691 43.1754 21.6504 43.1754 20.8873Z"
        fill="var(--white)"></path>
    </svg>
  </button>
</div>
