---
import "./styles.scss";
---

<div class="inclusivity">
  <svg
    width="588"
    height="630"
    viewBox="0 0 588 630"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M85.1267 202.435C83.6208 199.509 77.5877 187.528 74.7594 181.904C73.9994 181.175 73.7722 181.919 73.9578 182.698C76.8766 189.926 82.8677 204.894 83.4817 206.944C84.2492 209.507 87.3601 215.553 85.6873 222.912C84.0146 230.27 77.7811 236.476 75.496 238.128C73.2109 239.779 64.8263 245.997 63.9644 246.49C63.1024 246.983 61.8013 248.563 64.4702 247.691C67.1391 246.82 76 240.34 80.9686 237.146C85.9372 233.952 90.5948 232.332 92.0195 232.522C93.4442 232.711 96.4471 233.928 98.0501 237.45C99.6532 240.973 103.816 250.885 105.116 253.481C106.416 256.077 110.117 264.205 111.354 265.738C112.344 266.964 112.66 265.975 112.695 265.327C110.201 260.13 104.764 248.142 102.963 241.768C100.712 233.801 100.482 231.255 101.362 225.373C102.241 219.491 111.62 213.917 114.662 212.058C117.703 210.199 128.729 204.308 129.747 203.35C130.56 202.583 129.722 202.172 129.201 202.062C123.889 205.024 112.845 211.146 111.17 211.936C109.076 212.923 102.16 217.69 96.7586 215.739C91.3568 213.788 87.009 206.094 85.1267 202.435Z"
      fill="white"></path>
    <path
      d="M322.93 220.853C305.745 237.068 281.614 268.878 271.696 282.756C280.204 296.641 309.597 292.961 323.23 289.385C342.694 272.053 384.37 235.109 395.359 225.993C409.095 214.598 422.042 184.975 423.797 178.623C425.2 173.541 435.951 164.095 441.15 160.007C446.302 160.809 456.843 161.288 457.79 156.783C458.974 151.151 456.382 127.503 460 120.282C463.618 113.061 470.489 86.3619 465.069 88.1634C459.65 89.9649 459.609 94.1569 452.141 107.709C444.672 121.262 439.594 129.436 411.53 155.042C383.466 180.648 344.412 200.584 322.93 220.853Z"
      fill="#F2DAF5"
      stroke="black"></path>
    <path
      d="M372.288 219.884C343.037 216.761 299.693 262.175 281.677 285.273C298.418 288.231 334.083 293.346 342.822 290.141C351.56 286.937 362.405 268.914 366.735 260.302C368.676 262.391 377.717 268.407 398.349 275.767C424.139 284.968 455.62 281.082 463.074 285.589C470.527 290.096 466.403 299.73 474.577 304.808C486.689 311.134 487.636 296.631 510.989 299.439C534.342 302.246 537.852 289.542 538.295 285.435C538.739 281.327 518.817 282.181 506.113 278.671C493.408 275.162 483.541 270.147 461.669 264.291C439.796 258.434 408.853 223.788 372.288 219.884Z"
      fill="#F2DAF5"
      stroke="black"></path>
    <path
      d="M167.803 231.518C169.804 241.32 177.008 266.469 189.821 288.652C205.836 316.381 222.537 364.836 228.769 387.149C235.001 409.461 237.66 442.784 226.917 477.911C219.925 500.777 208.418 520.559 207.446 533.467M167.803 231.518C178.286 239.602 218.791 252.735 278.33 265.247C325.961 275.257 379.04 277.73 399.625 277.716M167.803 231.518C168.662 226.098 182.936 217.476 233.157 226.35C256.2 230.422 280.692 235.137 303.956 240.682M399.625 277.716C378.243 298.846 333.298 343.083 324.578 350.996C313.678 360.887 276.495 403.899 265.406 416.691C254.317 429.482 247.915 465.942 244.807 478.73C241.7 491.519 242.28 514.744 242.157 527.32C242.114 531.767 241.806 536.474 240.431 540.398M399.625 277.716C397.879 276.303 395.987 274.918 393.96 273.562M207.446 533.467C206.925 540.388 209.432 545.333 217.288 547.717C231.836 552.132 237.917 547.572 240.431 540.398M207.446 533.467C194.595 531.563 172.489 529.582 168.527 533.689M284.872 561.92C284.388 570.219 252.08 568.05 223.518 562.047C194.955 556.045 178.016 548.705 169.014 537.572C167.665 535.904 167.615 534.635 168.527 533.689M284.872 561.92C285.356 553.62 247.443 541.872 240.431 540.398M284.872 561.92L281.829 576.402C271.117 578.071 243.417 580.091 218.314 574.816C193.212 569.54 170.545 556.936 162.35 551.293L168.527 533.689"
      stroke="black"></path>
    <path
      d="M210.915 258.222C194.128 253.35 180.222 255.692 175.368 257.472C182.033 268.394 197.132 294.222 204.201 310.158C213.036 330.077 232.387 387.91 234.316 396.717C236.246 405.523 240.377 411.852 247.131 413.691C253.886 415.531 258.331 414.365 265.549 410.001C271.323 406.51 295.495 378.77 306.86 365.336L371.707 304.614C368.276 300.953 352.986 289.758 335.221 284.345C317.457 278.931 296.712 289.694 266.71 282.549C236.708 275.404 231.898 264.312 210.915 258.222Z"
      fill="black"
      stroke="black"></path>
    <path
      d="M464.321 160.825C458.681 167.276 443.248 161.966 441.999 160.197C444.647 154.307 450.609 141.075 453.28 135.268C456.619 128.01 464.803 109.311 462.653 103.648C461.457 100.499 459.429 98.3981 457.797 97.2031C457.081 96.6785 456.44 96.3285 455.981 96.1411C454.406 89.5928 452.051 76.0669 455.229 74.35C459.201 72.2039 474.009 94.3292 476.255 100.682C478.501 107.035 474.326 115.431 472.295 120.941C470.265 126.452 463.517 139.75 467.72 144.205C471.083 147.769 486.199 136.21 493.337 129.985L495.942 133.443C493.317 135.279 486.099 140.52 478.223 146.793C468.379 154.633 469.962 154.373 464.321 160.825Z"
      fill="#F2DAF5"
      stroke="black"></path>
    <path
      d="M472.836 309.671C465.222 306.599 465.167 290.961 466.375 289.274C472.539 289.815 486.391 291.044 492.486 291.633C500.105 292.369 519.604 293.886 524.052 290.157C526.525 288.084 527.787 285.587 528.355 283.734C528.604 282.92 528.719 282.231 528.744 281.755C534.174 278.269 545.672 271.879 548.226 274.214C551.419 277.133 536.06 297.499 531.018 301.532C525.977 305.565 517.064 304.431 511.438 304.328C505.813 304.226 491.654 302.307 488.946 307.514C486.78 311.679 501.999 321.718 509.88 326.217L507.572 329.663C505.083 327.866 498.068 322.985 489.912 317.833C479.717 311.394 480.45 312.744 472.836 309.671Z"
      fill="#F2DAF5"
      stroke="black"></path>
    <path
      d="M423.311 443.209C422.453 446.019 413.188 450.964 408.663 453.085C408.061 453.808 408.671 453.942 409.051 453.919C411.614 452.659 417.032 450.027 418.202 449.574C419.664 449.009 423.461 447.344 425.808 447.681C427.685 447.95 429.574 451.987 430.283 453.971L433.522 461.143C433.624 461.404 433.905 461.895 434.216 461.782C434.526 461.668 434.568 461.244 434.549 461.046C433.505 458.7 431.285 453.551 430.756 451.72C430.095 449.432 429.319 445.777 430.857 443.571C432.395 441.365 440.948 437.521 441.855 437.04C442.762 436.559 448.624 433.695 449.183 433.275C449.531 432.811 449.106 432.647 448.85 432.623C445.036 434.366 437.165 437.971 436.187 438.446C434.966 439.04 430.171 440.763 427.716 440.09C425.261 439.418 424.299 436.753 423.667 434.964C423.036 433.175 421.512 427.326 421.092 426.342C420.641 425.674 420.344 426.245 420.251 426.613C420.955 429.07 422.485 434.44 422.976 436.269C423.59 438.556 424.384 439.696 423.311 443.209Z"
      fill="white"></path>
  </svg>
</div>
