---
import "./styles.scss";
---

<div class="nudes-wave">
  <svg
    width="1920"
    height="2338"
    viewBox="0 0 1920 2338"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M508.993 388.322C50.7219 349.82 -362.115 647.835 -511.248 801.655L-609.423 1856.22C-609.423 1856.22 -651.566 2191.81 -15.7328 2152C620.1 2112.18 784.263 2379.33 1170.98 2332C1557.69 2284.67 1670.48 2052 2436.65 2081.5L2466.88 0.469177C1959.9 17.4555 1792.65 596.794 1458.14 612.365C1123.64 627.936 1081.83 436.45 508.993 388.322Z"
      fill="black"></path>
  </svg>
</div>
