---
import "./styles.scss";
import HelloClouds from "../../svg/HelloClouds";
import CloudsPeople from "../../svg/CloudsPeople";
import ScrollBtn from "../ScrollBtn";
import SignUpButton from "../SignUpButton";
---

<section class="hello">
  <div class="hello__bg">
    <picture>
      <source srcset="images/hello/bg-mobile.png" media="(max-width: 575px)" />
      <img src="images/hello/bg-desktop.png" alt="Bg Waves" />
    </picture>
  </div>
  <p class="hello__descr-app">The 1st explorationship app</p>
  <HelloClouds client:only="react" />
  <CloudsPeople client:only="react" />
  <div class="hello__wrap">
    <h1 class="hello__title">
      <span class="hello__title-static">Meet<br /> First,</span>
      <span class="hello__title-anim anim">
        <span class="anim__el anim__el--right" data-hello-anim>
          <span class="anim__el-wrap anim" data-hello-anim-el>
            <span>D</span>
            <span>e</span>
            <span>f</span>
            <span>i</span>
            <span>n</span>
            <span>e</span>
          </span>
          <span class="anim__el-wrap" data-hello-anim-el>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>V</span>
            <span>i</span>
            <span>b</span>
            <span>e</span>
          </span>
          <span class="anim__el-wrap" data-hello-anim-el>
            <span>D</span>
            <span>e</span>
            <span>c</span>
            <span>i</span>
            <span>d</span>
            <span>e</span>
          </span>
          <span class="anim__el-wrap" data-hello-anim-el>
            <span>&nbsp;</span>
            <span>L</span>
            <span>a</span>
            <span>u</span>
            <span>g</span>
            <span>h</span>
          </span>
          <span class="anim__el-wrap pre-anim" data-hello-anim-el>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>G</span>
            <span>l</span>
            <span>o</span>
            <span>w</span>
          </span>
        </span>
        <div class="anim__svg" data-hello-anim>
          <svg
            data-hello-anim-el
            xmlns="http://www.w3.org/2000/svg"
            width="79"
            height="126"
            viewBox="0 0 79 126"
            fill="none"
            class="anim"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M70.6799 6.91923C63.4934 0.875524 45.9011 -6.42781 33.0241 12.7085C25.5939 26.306 33.9361 37.9679 39.036 42.0991L26.1061 68.6327C24.799 68.5213 21.8755 68.9946 20.6383 71.7794C19.401 74.5643 20.7532 76.9195 21.5839 77.749C15.2986 89.7295 2.43607 114.329 1.2691 116.881C-0.189624 120.072 1.39286 128.818 7.92285 120.517L9.16946 118.236C13.1211 121.192 21.6602 126.838 24.2033 125.768C27.3823 124.43 29.3798 119.316 28.3479 118.183C27.9455 117.741 26.0812 116.743 23.9683 115.611C20.6629 113.841 16.7492 111.745 16.8738 110.945C17.0782 109.634 20.5737 100.84 23.8344 102.166C24.8832 102.593 26.2879 103.353 27.7738 104.156C30.907 105.851 34.4016 107.741 35.6833 107.115C37.5729 106.193 40.1668 102.032 38.0581 99.7781C37.0327 98.6822 34.9155 97.3845 32.9618 96.187C30.8975 94.9218 29.0158 93.7684 28.7977 93.0833C28.3732 91.7498 27.828 88.7157 30.9077 83.8601C32.4839 81.3749 33.6295 80.2741 34.5381 79.401C35.4048 78.5682 36.0559 77.9426 36.6595 76.5204C37.6488 74.1897 36.5601 71.9768 35.8921 71.1617L47.6071 46.7826C53.6316 48.8301 67.7315 49.1718 75.9348 34.1594C83.026 21.182 73.4963 9.75435 70.6799 6.91923ZM68.277 32.1627C72.5217 24.3946 69.6655 14.6563 61.8974 10.4116C54.1293 6.16689 44.391 9.02311 40.1463 16.7912C35.9016 24.5592 38.7578 34.2975 46.5259 38.5423C54.294 42.787 64.0322 39.9308 68.277 32.1627Z"
              fill="white"></path>
          </svg>
          <svg
            data-hello-anim-el
            xmlns="http://www.w3.org/2000/svg"
            width="106"
            height="135"
            viewBox="0 0 106 135"
            fill="none"
          >
            <path
              d="M5.58356 47.407C5.71471 44.1345 12.6897 36.7719 39.5405 33.5021C66.3912 30.2324 77.122 34.7673 79.1311 37.4435C79.5424 38.1569 79.606 39.0955 79.0557 40.176C78.961 40.362 78.8481 40.5522 78.7157 40.7461C75.639 45.9025 71.3679 52.9897 67.1383 59.8802C60.4713 70.7418 53.9077 81.1143 52.2886 82.6638L56.7502 115.598C64.928 114.911 81.4273 114.598 82.0019 118.84C82.7201 124.141 66.0653 127.546 55.5747 128.967C45.084 130.389 26.6055 132.203 25.8261 126.45C25.2026 121.847 41.1439 117.98 49.1924 116.622L44.7308 83.6877L24.8718 65.6061L6.77974 49.1333C6.68841 49.0544 6.60251 48.9761 6.52195 48.8986C5.94311 48.3417 5.64023 47.8253 5.58356 47.407Z"
              fill="#D9BBF9"></path>
            <path
              d="M6.52195 48.8986C9.53327 51.7958 20.0135 55.7907 42.1536 52.7914C68.3203 49.1047 77.1955 43.829 79.0557 40.176M6.52195 48.8986C5.94311 48.3417 5.64023 47.8253 5.58356 47.407C5.71471 44.1345 12.6897 36.7719 39.5405 33.5021C66.3912 30.2324 77.122 34.7673 79.1311 37.4435C79.5424 38.1569 79.606 39.0955 79.0557 40.176M6.52195 48.8986L24.8718 65.6061M44.7308 83.6877C46.1315 84.4169 49.604 85.2331 52.2886 82.6638M44.7308 83.6877L49.1924 116.622M44.7308 83.6877L24.8718 65.6061M52.2886 82.6638L56.7502 115.598M52.2886 82.6638C53.9077 81.1143 60.4713 70.7418 67.1383 59.8802M79.0557 40.176C75.9584 45.3723 71.526 52.7322 67.1383 59.8802M49.1924 116.622L49.9106 121.923C51.6521 123.755 55.6018 126.115 57.4684 120.9L56.7502 115.598M49.1924 116.622C41.1439 117.98 25.2026 121.847 25.8261 126.45C26.6055 132.203 45.084 130.389 55.5747 128.967C66.0653 127.546 82.7201 124.141 82.0019 118.84C81.4273 114.598 64.928 114.911 56.7502 115.598M24.8718 65.6061C32.2536 66.9723 51.0414 67.7397 67.1383 59.8802"
              stroke="black"></path>
            <path
              d="M52.2812 82.6636C49.5966 85.2329 46.1241 84.4167 44.7234 83.6875L24.2593 65.0549C24.2253 64.0115 25.492 61.7437 30.8307 61.0205C37.5042 60.1164 58.5297 56.4051 63.323 57.7594C67.1576 58.8427 67.2761 59.9231 66.856 60.3278C60.2843 71.0252 53.878 81.1354 52.2812 82.6636Z"
              fill="white"></path>
            <path
              d="M71.7671 5.75896C73.9399 2.26455 76.0355 1.57758 76.8118 1.6709C78.9133 2.29318 77.4813 6.38187 76.5026 8.34844L96.2301 54.5999L87.917 56.2645L82.9681 50.3964L74.961 51.4811L70.9815 44.2508L63.5032 45.2639L59.0655 38.7516L51.3129 40.4537L47.2398 34.2361L38.9306 35.3618L34.4325 28.2787L27.483 29.2202L22.0478 22.0333L71.7671 5.75896Z"
              fill="#F2DAF5"></path>
            <path
              d="M41.3192 75.8323L59.0655 38.7516M76.8118 1.6709C76.0355 1.57758 73.9399 2.26455 71.7671 5.75896L22.0478 22.0333L27.483 29.2202L34.4325 28.2787M76.8118 1.6709L59.0655 38.7516M76.8118 1.6709C78.9133 2.29318 77.4813 6.38187 76.5026 8.34844L96.2301 54.5999L87.917 56.2645L82.9681 50.3964M34.4325 28.2787L38.9306 35.3618L47.2398 34.2361M34.4325 28.2787L73.0678 6.27524M47.2398 34.2361L51.3129 40.4537L59.0655 38.7516M47.2398 34.2361L73.6682 6.73237M59.0655 38.7516L63.5032 45.2639L70.9815 44.2508M70.9815 44.2508L74.961 51.4811L82.9681 50.3964M70.9815 44.2508L75.2467 7.59548M82.9681 50.3964L75.8471 8.05261"
              stroke="black"></path>
            <path
              d="M24.8711 65.6062C32.2529 66.9724 51.0407 67.7398 67.1376 59.8803"
              stroke="black"></path>
          </svg>
          <svg
            data-hello-anim-el
            xmlns="http://www.w3.org/2000/svg"
            width="121"
            height="112"
            viewBox="0 0 121 112"
            fill="none"
          >
            <path
              d="M89.1577 105.967L74.6712 86.2173C74.2356 85.6234 74.5275 84.7773 75.2366 84.5783L91.0723 80.1339C91.7685 79.9385 92.4504 80.4859 92.4101 81.2079L91.0609 105.402C91.0058 106.39 89.7429 106.765 89.1577 105.967Z"
              fill="white"></path>
            <path
              d="M113.421 46.0253C115.35 62.6739 105.957 79.3485 97.4063 83.1439C78.5545 91.5117 43.4569 87.3914 24.4721 80.0637C-2.182 69.7758 2.14543 35.2363 13.9451 18.9123C25.7448 2.58832 61.3777 0.970425 83.058 7.9769C104.738 14.9834 111.009 25.2145 113.421 46.0253Z"
              fill="white"></path>
            <path
              d="M67.3606 28.8145C57.4503 16.6206 47.2403 26.7851 43.9123 33.8413C41.5305 26.7931 32.6199 15.6949 20.9914 26.9489C9.68474 42.2384 33.3121 55.8432 37.9149 63.7418C40.286 67.8108 41.4545 70.1664 41.9479 72.2862C41.9479 72.2862 43.2816 68.6775 44.8885 65.775C50.8223 55.0564 78.6329 49.1165 67.3606 28.8145Z"
              fill="#D9BBF9"></path>
            <path
              d="M88.6095 28.0145C91.3266 28.1926 93.658 28.7624 95.6037 29.7237C97.5896 30.6498 99.0978 31.9236 100.129 33.5451C101.199 35.1313 101.666 36.981 101.527 39.0944C101.389 41.2077 100.642 43.0537 99.288 44.6326C97.9715 46.2139 96.1994 47.5189 93.9716 48.5478C91.7464 49.5389 89.1787 50.2612 86.2685 50.7147L85.7267 58.9793L84.5946 58.9051L85.1698 50.131C87.345 49.3261 88.998 48.3923 90.1289 47.3294C91.2598 46.2665 92.0572 45.0871 92.5211 43.791C92.9851 42.4949 93.2653 41.111 93.3618 39.6392C93.5969 36.0541 93.1059 33.4258 91.889 31.7542C90.7098 30.0851 89.1013 29.1838 87.0635 29.0502C86.0446 28.9834 85.0748 29.0335 84.1543 29.2005C83.2715 29.3701 82.5674 29.7029 82.0422 30.1991C83.0389 30.6055 83.7791 31.1657 84.2629 31.8796C84.7869 32.5583 85.013 33.4448 84.9413 34.5392C84.8646 35.709 84.3851 36.663 83.503 37.4011C82.6232 38.1014 81.523 38.4083 80.2022 38.3217C78.9945 38.2425 78.0381 37.8008 77.3328 36.9966C76.6678 36.1571 76.3699 35.209 76.4391 34.1523C76.5158 32.9825 76.8808 32.0399 77.5341 31.3248C78.2276 30.5743 79.0458 29.9458 79.9886 29.4391C80.9289 28.9701 82.1096 28.5927 83.5307 28.3069C84.9919 27.9858 86.6848 27.8883 88.6095 28.0145ZM84.8684 64.2669C86.3402 64.3634 87.4841 64.8364 88.3001 65.6858C89.1186 66.4974 89.4833 67.5825 89.3943 68.9411C89.3052 70.2996 88.8007 71.3467 87.8808 72.0823C86.9633 72.7802 85.7687 73.0808 84.2969 72.9844C82.8252 72.8879 81.68 72.4338 80.8615 71.6221C80.0455 70.7727 79.6821 69.6688 79.7711 68.3102C79.8602 66.9517 80.3634 65.9234 81.2809 65.2256C82.2008 64.49 83.3967 64.1704 84.8684 64.2669Z"
              fill="black"></path>
          </svg>
          <svg
            data-hello-anim-el
            xmlns="http://www.w3.org/2000/svg"
            width="136"
            height="126"
            viewBox="0 0 136 126"
            fill="none"
          >
            <path
              d="M2.43446 75.5966C6.78744 75.4501 17.72 71.0162 30.3196 53.8865C43.3842 36.1246 54.9542 45.2234 59.1061 51.993C60.2043 47.0164 64.4572 37.1161 72.6829 37.3278C82.9649 37.5925 91.4593 49.6935 117.267 27.2102C118.351 44.9879 110.59 83.5745 70.8765 95.6985C31.1628 107.822 8.39784 87.3483 1.97958 75.5957C2.13017 75.5963 2.2818 75.5966 2.43446 75.5966Z"
              fill="#F2DAF5"></path>
            <path
              d="M1.97958 75.5957C5.98265 75.7601 17.255 71.6484 30.3196 53.8865C43.3842 36.1246 54.9542 45.2234 59.1061 51.993C60.2043 47.0164 64.4572 37.1161 72.6829 37.3278C82.9649 37.5925 91.4593 49.6935 117.267 27.2102M1.97958 75.5957C8.39784 87.3483 31.1628 107.822 70.8765 95.6985C110.59 83.5745 118.351 44.9879 117.267 27.2102M1.97958 75.5957C29.137 75.7021 90.2149 66.1738 117.267 27.2102M1.97958 75.5957C27.6469 88.0879 86.6388 95.8997 117.267 27.2102"
              stroke="black"
              stroke-width="1.5"></path>
            <path
              d="M1.98047 75.5957C7.59411 75.6177 14.6571 75.228 22.5694 74.2518C26.5689 73.7583 30.7854 73.1149 35.1414 72.2991C39.9422 71.4 44.9125 70.2914 49.9484 68.9431C55.4098 67.4808 60.9483 65.7367 66.4318 63.672C70.3886 62.1822 74.3168 60.5254 78.1665 58.6873C81.6903 57.0048 88.2216 53.421 91.5758 51.4235C96.6047 48.4287 97.9182 47.1021 102.192 43.5299C107.886 38.7706 113.001 33.3566 117.268 27.2101C113.618 35.3959 109.565 42.4952 105.214 48.6297C101.684 53.6065 99.9131 56.0333 96.0459 59.8048C92.8842 62.8883 87.6728 67.5057 84.3536 69.8624C80.2277 72.7919 76.0037 75.1872 71.74 77.1167C65.8974 79.7606 59.9802 81.5296 54.1391 82.5991C48.039 83.716 42.0217 84.0698 36.2589 83.8602C31.0758 83.6717 26.0986 83.0275 21.4518 82.0728C13.914 80.5241 7.24601 78.1584 1.98047 75.5957Z"
              fill="white"></path>
            <path
              d="M22.5694 74.2518C14.6571 75.228 7.59411 75.6177 1.98047 75.5957C7.24601 78.1584 13.914 80.5241 21.4518 82.0728M22.5694 74.2518L21.4518 82.0728M22.5694 74.2518C26.5689 73.7583 30.7854 73.1149 35.1414 72.2991C39.9422 71.4 44.9125 70.2914 49.9484 68.9431M21.4518 82.0728C26.0986 83.0275 31.0758 83.6717 36.2589 83.8602C42.0217 84.0698 48.039 83.716 54.1391 82.5991M49.9484 68.9431L54.1391 82.5991M49.9484 68.9431C55.4098 67.4808 60.9483 65.7367 66.4318 63.672C70.3886 62.1822 74.3168 60.5254 78.1665 58.6873M54.1391 82.5991C59.9802 81.5296 65.8974 79.7606 71.74 77.1167C76.0037 75.1872 80.2277 72.7919 84.3536 69.8624M78.1665 58.6873L84.3536 69.8624M78.1665 58.6873C81.6903 57.0048 88.2216 53.421 91.5758 51.4235C96.6047 48.4287 97.9182 47.1021 102.192 43.5299M84.3536 69.8624C87.6728 67.5057 92.8842 62.8883 96.0459 59.8048C99.9131 56.0333 101.684 53.6065 105.214 48.6297M102.192 43.5299C107.886 38.7706 113.001 33.3566 117.268 27.2101C113.618 35.3959 109.565 42.4952 105.214 48.6297M102.192 43.5299L105.214 48.6297"
              stroke="black"
              stroke-width="1.5"></path>
          </svg>
          <svg
            data-hello-anim-el
            xmlns="http://www.w3.org/2000/svg"
            width="112"
            height="80"
            viewBox="0 0 112 80"
            fill="none"
          >
            <path
              d="M6.53502 73.6226C4.58626 70.679 11.175 65.0376 14.7129 62.5848C7.5585 48.6852 -4.7 19.7503 3.5014 15.2084C13.7532 9.53086 19.5198 23.4665 17.5976 26.1762C16.0598 28.344 12.9416 27.0795 11.5747 26.1762C13.1701 33.0145 17.6123 48.4976 22.6176 55.7242C24.9362 53.8227 27.6506 51.6719 30.6685 49.4023C40.7921 41.7893 56.1698 37.5312 60.3986 35.3376C64.6275 33.1441 66.1652 31.7244 76.8014 21.6597C79.1138 19.4716 81.8319 17.2774 84.7044 15.2084C73.5696 12.8428 48.942 8.96319 39.5104 12.3696C36.6399 13.5051 35.9223 15.6815 35.9223 16.6277C34.2564 19.9398 29.8738 24.2928 25.6706 15.2084C20.4165 3.85275 35.0253 0.756555 39.5104 1.01462C43.9956 1.27269 83.0965 4.35125 94.8779 8.74755C101.955 4.82094 108.22 2.54913 109.991 3.85275C113.323 6.3044 105.378 35.9818 98.9708 44.4981C92.5635 53.0143 78.4673 53.4012 74.4948 50.5624C70.5222 47.7237 68.7282 45.1431 65.14 46.4335C61.5519 47.7238 63.346 51.7241 63.346 55.7242C63.346 59.7242 64.302 63.8116 58.2121 70.1188C44.8143 82.5581 31.4165 78.3533 23.9347 76.6013C16.4528 74.8492 8.97097 77.3021 6.53502 73.6226Z"
              fill="#F2DAF5"></path>
            <path
              d="M14.7129 62.5848C11.175 65.0376 4.58626 70.679 6.53502 73.6226C8.97097 77.3021 16.4528 74.8492 23.9347 76.6013C31.4165 78.3533 44.8143 82.5581 58.2121 70.1188C64.302 63.8116 63.346 59.7242 63.346 55.7242C63.346 51.7241 61.5519 47.7238 65.14 46.4335C68.7282 45.1431 70.5222 47.7237 74.4948 50.5624C78.4673 53.4012 92.5635 53.0143 98.9708 44.4981C105.378 35.9818 113.323 6.3044 109.991 3.85275C108.22 2.54913 101.955 4.82094 94.8779 8.74755M14.7129 62.5848C7.5585 48.6852 -4.7 19.7503 3.5014 15.2084C13.7532 9.53086 19.5198 23.4665 17.5976 26.1762C16.0598 28.344 12.9416 27.0795 11.5747 26.1762C13.1701 33.0145 17.6123 48.4976 22.6176 55.7242M14.7129 62.5848C15.9325 61.4201 18.7141 58.9255 22.6176 55.7242M22.6176 55.7242C24.9362 53.8227 27.6506 51.6719 30.6685 49.4023C40.7921 41.7893 56.1698 37.5312 60.3986 35.3376C64.6275 33.1441 66.1652 31.7244 76.8014 21.6597C79.1138 19.4716 81.8319 17.2774 84.7044 15.2084M94.8779 8.74755C83.0965 4.35125 43.9956 1.27269 39.5104 1.01462C35.0253 0.756555 20.4165 3.85275 25.6706 15.2084C29.8738 24.2928 34.2564 19.9398 35.9223 16.6277C35.9223 15.6815 36.6399 13.5051 39.5104 12.3696C48.942 8.96319 73.5696 12.8428 84.7044 15.2084M94.8779 8.74755C91.5389 10.6001 88.0189 12.8209 84.7044 15.2084"
              stroke="black"></path>
            <path
              d="M27.8245 60.734C23.5664 65.0035 27.3072 68.8131 29.7099 70.1842C35.4761 73.7422 43.3487 73.7418 49.7801 69.1833C56.2115 64.6249 55.9897 58.7325 54.2155 52.3952C52.4413 46.0578 48.7821 47.0585 45.5664 48.7262C42.3508 50.3939 33.1472 55.3971 27.8245 60.734Z"
              fill="black"></path>
            <path
              d="M72.5116 33.9387C68.6306 39.1643 74.2858 41.9438 74.8402 43.0556C81.1607 45.724 86.5941 44.2786 92.471 40.3872C98.348 36.4959 99.235 27.7128 98.6806 22.8208C98.1262 17.9289 94.7996 16.5944 90.6969 18.7068C86.5941 20.8193 76.3926 28.7132 72.5116 33.9387Z"
              fill="black"></path>
            <path
              d="M27.8245 60.734C23.5664 65.0035 27.3072 68.8131 29.7099 70.1842C35.4761 73.7422 43.3487 73.7418 49.7801 69.1833C56.2115 64.6249 55.9897 58.7325 54.2155 52.3952C52.4413 46.0578 48.7821 47.0585 45.5664 48.7262C42.3508 50.3939 33.1472 55.3971 27.8245 60.734Z"
              stroke="black"></path>
            <path
              d="M72.5116 33.9387C68.6306 39.1643 74.2858 41.9438 74.8402 43.0556C81.1607 45.724 86.5941 44.2786 92.471 40.3872C98.348 36.4959 99.235 27.7128 98.6806 22.8208C98.1262 17.9289 94.7996 16.5944 90.6969 18.7068C86.5941 20.8193 76.3926 28.7132 72.5116 33.9387Z"
              stroke="black"></path>
          </svg>
        </div>
        <span class="anim__el anim__el--left" data-hello-anim>
          <span class="anim__el-wrap anim" data-hello-anim-el>
            <span>L</span>
            <span>a</span>
            <span>t</span>
            <span>e</span>
            <span>r</span>
          </span>
          <span class="anim__el-wrap" data-hello-anim-el>
            <span>L</span>
            <span>a</span>
            <span>t</span>
            <span>e</span>
            <span>r</span>
          </span>
          <span class="anim__el-wrap" data-hello-anim-el>
            <span>L</span>
            <span>a</span>
            <span>t</span>
            <span>e</span>
            <span>r</span>
          </span>
          <span class="anim__el-wrap" data-hello-anim-el>
            <span>L</span>
            <span>a</span>
            <span>t</span>
            <span>e</span>
            <span>r</span>
          </span>
          <span class="anim__el-wrap" data-hello-anim-el>
            <span>L</span>
            <span>a</span>
            <span>t</span>
            <span>e</span>
            <span>r</span>
          </span>
        </span>
      </span>
    </h1>
    <SignUpButton section={"hello"} client:only="react" />
  </div>
  <ScrollBtn
    client:only="react"
    pathname="/faq"
    position={"top"}
    target={"spotted"}
  />
</section>

<script>
  const animEls = document.querySelectorAll("[data-hello-anim]");

  animEls.forEach((el) => {
    const els = el.querySelectorAll("[data-hello-anim-el]");
    let index = 0;
    let firstRun = true;

    const animateNext = () => {
      if (!firstRun) {
        els.forEach((el) => el.classList.remove("anim", "pre-anim"));

        const prevIndex = (index - 1 + els.length) % els.length;
        els[prevIndex].classList.add("pre-anim");
        els[index].classList.add("anim");
      } else {
        firstRun = false;
      }

      index = (index + 1) % els.length;
    };

    setInterval(animateNext, 2500);
  });
</script>
