.big-clouds {
  position: absolute;
  left: 50%;
  z-index: 2;

  & svg {
    width: 100%;
    height: 100%;
  }

  @include des {
    width: 106vw;
    bottom: d(-140);
    transform: translateX(-49%);
  }

  @include mob {
    width: 120vw;
    top: m(630);
    transform: translateX(-50%);
  }
}
