.footer-people {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    width: 100%;
    height: 100%;
  }

  &__wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include des {
      top: d(-2);
      height: d(62);
    }

    @include mob {
      top: m(-2);
      height: m(18);
    }
  }

  &__people {
    position: absolute;

    @include des {
      width: d(613);
      height: d(708);
      left: 50%;
      transform: translateX(-60%);
      bottom: d(-207);
    }

    @include mob {
      width: m(305);
      height: m(281);
      right: m(-126);
      bottom: m(-94);
      transform: rotate(22.829deg);
    }
  }
}
