.clouds--about {
  & .cloud {
    position: absolute;

    &__wrap {
      width: 100%;
      height: 100%;
      animation: cloudMovement 8s infinite ease-in-out alternate;
    }

    &--pink path {
      fill: var(--pink);
    }

    @include des {
      width: d(var(--wd));
      height: d(var(--hd));
    }

    @include mob {
      width: m(var(--wm));
      height: m(var(--hm));
    }

    &--1 {
      @include des {
        top: d(-28);
        right: d(330);
      }

      @include mob {
        top: m(30);
        left: m(64);
      }
    }

    &--2 {
      @include des {
        top: d(182);
        left: d(-192);
      }

      @include mob {
        top: m(158);
        right: m(184);
      }
    }

    &--3 {
      @include des {
        top: d(280);
        right: d(-464);
      }

      @include mob {
        top: m(318);
        left: m(124);
      }
    }

    &--4 {
      @include des {
        top: d(546);
        left: d(471);
      }

      @include mob {
        top: m(480);
        right: m(195);
      }
    }
  }
}

@keyframes cloudMovement {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.1);
  }
  100% {
    transform: translateY(10px) scale(0.9);
  }
}
