.nudes-woman {
  position: absolute;
  z-index: 19;

  & svg {
    width: 100%;
    height: 100%;
  }

  @include des {
    width: d(1050);
    height: d(877);
    top: d(203);
    left: d(500);
  }

  @include mob {
    width: m(292);
    height: m(217);
    top: m(180);
    left: m(50);
  }
}
