---
import "./styles.scss";
---

<div class="pink-pastel__wrapper">
  <div class="pink-pastel">
    <svg
      width="1920"
      height="363"
      viewBox="0 0 1920 363"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M265.5 7.37066C115 -4.12978 27.5 -0.629344 -36 7.37066L-160 283.37C-145.5 309.704 -84.4 362.37 44 362.37C204.5 362.37 315.5 335.37 405 335.37C494.5 335.37 659.5 348.87 768.5 348.87C877.5 348.87 999.5 335.37 1092 335.37C1184.5 335.37 1333 348.87 1449.5 348.87C1566 348.87 1682 329.37 1749 327.87C1802.6 326.67 1943 341.37 2006.5 348.87C2052.17 225.203 2118.8 10.972 2038 7.37203C1937 2.87203 1814.5 25.3704 1749 25.3704C1683.5 25.3704 1556 -3.88472 1428.5 7.37066C1339.82 15.1995 1232 25.3704 1069 25.3704C980.677 25.3704 786 -4.12978 625.5 7.37066C501.575 16.2504 399.765 17.6305 265.5 7.37066Z"
        fill="#F2DAF5"></path>
    </svg>
  </div>
</div>
