.pink-pastel__wrapper {
  position: relative;

  @include des {
    height: d(362);
  }

  @include mob {
    height: m(220);
  }

  & .pink-pastel {
    position: absolute;

    & svg {
      width: 100%;
      height: 100%;
    }

    @include des {
      left: d(-190);
      width: d(2235);
      height: d(362);
    }

    @include mob {
      left: m(-400);
      width: m(1100);
    }
  }
}
