---
import "./styles.scss";
---

<div class="nudes-woman-with-knife">
  <svg
    width="919"
    height="821"
    viewBox="0 0 919 821"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M395.443 192.003C438.792 111.197 486.054 96.1936 504.266 98.7924C598.886 80.8791 653.007 114.212 663.916 132.403C674.825 150.593 717.432 274.429 732.451 294.112C747.47 313.795 762.451 344.137 694.384 373.333C626.316 402.528 477.91 353.024 455.21 356.002C432.51 358.98 314.182 338.183 314.954 299.879C315.726 261.574 341.256 293.009 395.443 192.003Z"
      fill="#D9BBF9"></path>
    <path
      d="M334.096 259.214C333.396 265.965 330.446 314.991 329.059 338.66C329.685 360.049 335.156 403.266 352.034 405.016C368.913 406.765 410.805 359.218 429.641 335.225L432.047 312.018C433.141 301.469 441.985 277.862 437.296 261.382C432.607 244.903 368.876 242.561 353.998 242.085C339.12 241.608 334.971 250.774 334.096 259.214Z"
      fill="#D9BBF9"
      stroke="black"></path>
    <path
      d="M464.516 204.494C492.922 193.791 501.533 162.839 502.288 148.701C508.758 168.564 528.495 208.568 555.676 209.68C589.651 211.069 599.332 189.682 609.952 200.379C620.571 211.076 591.864 241.153 587.895 258.868C583.926 276.583 573.544 345.878 597.768 359.052C617.147 369.591 654.368 368.474 670.556 366.598C671.597 364.963 674.419 362.956 679.633 361.316C660.469 361.048 622.933 356.969 626.108 342.798C630.077 325.083 691.988 334.7 717.306 337.324C742.624 339.949 790.933 336.776 812.551 375.095C834.168 413.413 878.049 535.249 872.832 606.146C867.614 677.043 890.693 773.265 839.472 783.948C788.251 794.632 742.858 769.668 714.936 699.6C694.288 647.785 677.618 596.965 667.384 540.066C664.985 543.016 658.545 564.739 651.983 628.033C643.781 707.151 681.166 757.941 636.454 777.83C540.741 806.292 278.148 757.745 295.11 707.258C308.68 666.868 343.088 611.294 342.209 582.059C322.406 567.407 330.015 543.263 338.957 531.748C330.863 541.002 321.218 552.813 309.545 568.011C240.519 657.883 129.297 743.38 49.9287 717.026C-29.4397 690.672 14.7583 521.457 127.73 419.081C218.108 337.18 295.846 333.312 320.63 337.659C321.856 336.105 323.646 335.221 326.22 335.166C339.898 334.878 347.746 374.361 349.961 394.138C366.331 390.504 394.821 362.537 404.681 349.698C414.542 336.859 432.225 320.566 439.172 325.551C441.179 326.991 442.194 330.02 442.626 333.373C443.308 338.668 443.431 346.552 443.497 357.665C474.525 352.709 485.197 323.844 486.648 309.849C438.75 298.157 431.099 217.086 464.516 204.494Z"
      fill="#F2DAF5"></path>
    <path
      d="M564.32 270.285C560.328 284.799 541.095 313.299 496.105 311.194C492.795 311.04 489.643 310.58 486.648 309.849M670.556 366.598C654.368 368.474 617.147 369.591 597.768 359.052C573.544 345.878 583.926 276.583 587.895 258.868C591.864 241.153 620.571 211.076 609.952 200.379C599.332 189.682 589.651 211.069 555.676 209.68C528.495 208.568 508.758 168.564 502.288 148.701C501.533 162.839 492.922 193.791 464.516 204.494C431.099 217.086 438.75 298.157 486.648 309.849M670.556 366.598C671.597 364.963 674.419 362.956 679.633 361.316M670.556 366.598C667.863 372.005 667.096 383.512 685.575 386.281M486.648 309.849C485.178 324.035 474.233 353.496 442.221 357.854M320.63 337.659C295.846 333.312 218.108 337.18 127.73 419.081C14.7583 521.457 -29.4397 690.673 49.9287 717.026C129.297 743.38 240.519 657.883 309.545 568.01C322.545 551.085 333.029 538.361 341.658 528.69M418.555 452.429C419.282 455.703 417.133 466.142 402.725 481.709C381.58 502.018 378.848 487.006 341.658 528.69M418.555 452.429C427.106 441.942 444.107 413.707 443.706 384.664C443.643 380.091 443.604 375.827 443.576 371.856M418.555 452.429C409.726 462.176 386.85 482.622 365.983 486.43M90.5496 602.885C100.957 584.771 133.407 541.221 179.947 511.926C238.121 475.307 301.937 425.412 314.274 398.969C326.612 372.525 309.123 335.526 326.22 335.166C339.898 334.878 347.746 374.361 349.961 394.138C366.331 390.504 394.821 362.537 404.681 349.698C414.542 336.859 432.225 320.566 439.172 325.551C441.179 326.991 442.194 330.02 442.626 333.373M442.626 333.373C434.64 350.671 416.692 390.18 403.214 404.99C386.368 423.502 368.904 437.685 356.316 445.977M442.626 333.373C443.569 340.692 443.443 352.956 443.576 371.856M443.576 371.856C437.749 384.757 422.448 414.874 407.865 432.128C393.281 449.382 375.034 464.266 367.733 469.551M737.272 360.719C707.223 356.495 689.31 358.272 679.633 361.316M679.633 361.316C660.469 361.048 622.933 356.969 626.108 342.798C630.077 325.083 691.988 334.7 717.306 337.324C742.624 339.949 790.933 336.776 812.551 375.095C834.168 413.413 878.049 535.249 872.832 606.146C867.614 677.043 890.693 773.265 839.472 783.948C788.251 794.632 742.858 769.668 714.936 699.6C694.288 647.785 677.618 596.965 667.384 540.066M659.073 477.362C660.973 499.224 663.78 520.022 667.384 540.066M685.575 386.281C704.054 389.049 727.735 391.007 737.265 391.639M685.575 386.281C675.388 391.977 660.936 405.904 684.623 416.037C714.231 428.702 706.049 415.059 729.836 432.452C753.622 449.846 744.636 454.245 762.57 456.104C754.645 487.981 739.652 559.926 743.078 592.695C746.505 625.464 763.335 671.564 771.322 690.518M341.658 528.69C331.814 538.332 320.422 565.939 342.209 582.059C343.087 611.294 308.68 666.868 295.11 707.258C278.148 757.745 540.741 806.292 636.454 777.83C681.166 757.941 643.781 707.151 651.983 628.033C658.545 564.739 664.985 543.016 667.384 540.066"
      stroke="black"></path>
    <path
      d="M630.368 332.577C606.97 336.122 601.313 342.004 601.409 344.502C600.972 348.722 608.247 350.542 632.001 347.673C651.005 345.378 659.225 338.767 660.96 335.748C660.512 333.214 653.766 329.031 630.368 332.577Z"
      fill="black"
      stroke="black"></path>
    <path
      d="M329.494 334.44C325.018 311.798 317.908 309.071 314.912 310.537C310.474 312.21 311.709 320.868 312.616 332.69C313.523 344.513 321.158 363.43 324.322 363.759C327.487 364.087 335.09 362.742 329.494 334.44Z"
      fill="black"
      stroke="black"></path>
    <path
      d="M497.331 206.829C493.583 212.128 488.277 224.23 497.035 230.256"
      stroke="black"></path>
    <path
      d="M490.445 242.368C501.009 239.198 505.854 251.429 506.956 257.94C509.317 276.311 496.073 290.932 486.398 281.399C478.659 273.773 486.742 264.375 491.75 260.629C483.311 259.754 479.24 247.603 490.445 242.368Z"
      fill="black"></path>
    <path
      d="M710.334 456.022C688.711 458.898 685.519 431.413 686.625 417.312C692.095 422.144 709.007 424.252 716.78 424.703C716.488 427.516 716.727 433.44 720.015 434.634C724.125 436.126 728.924 451.551 710.334 456.022Z"
      fill="black"
      stroke="black"></path>
    <path
      d="M722.689 336.816L689.987 333.426L699.617 209.675L707.105 65.4424C741.769 80.7645 767.208 195.357 770.296 217.002C773.383 238.647 774.785 317.694 768.745 324.531C762.704 331.369 750.592 324.782 734.66 324.196C721.913 323.728 721.368 332.415 722.689 336.816Z"
      fill="white"
      stroke="black"></path>
    <path
      d="M759.439 301.175C763.738 269.989 760.716 181.888 714.234 78.9756"
      stroke="black"></path>
    <path
      d="M692.284 311.273L689.988 333.426L723.745 336.926C722.494 332.531 722.752 329.359 723.565 328.377C721.358 325.661 716.444 318.896 710.218 313.132C703.991 307.369 695.668 309.492 692.284 311.273Z"
      fill="black"
      stroke="black"></path>
    <ellipse
      cx="378.436"
      cy="284.068"
      rx="9.545"
      ry="10.6056"
      transform="rotate(5.91852 378.436 284.068)"
      fill="black"></ellipse>
  </svg>
</div>
