---
import "./styles.scss";
---

<div class="kinks-guide__card">
  <svg
    width="565"
    height="685"
    viewBox="0 0 565 685"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3.85694 133.852C2.53495 38.6644 59.7663 10.2855 88.5473 7.9946C135.643 7.9946 226.32 9.71282 302.334 7.99462C378.349 6.27642 507.455 -31.9535 547.115 75.4338C579.476 163.059 541.744 252.768 553.311 362.733C564.879 472.697 571.489 574.14 553.311 624.827C535.134 675.514 456.64 690.548 412.849 681.957C369.058 673.366 280.237 655.325 179.435 675.084C82.1222 694.16 44.7563 668.641 21.2082 610.223C-2.33983 551.804 -3.16621 440.354 3.85689 355.733C10.88 271.111 5.50944 252.838 3.85694 133.852Z"
      fill="#F2DAF5"></path>
  </svg>
</div>
