---
import "./styles.scss";
---

<div class="kinks-guide__card">
  <svg
    width="565"
    height="685"
    viewBox="0 0 565 685"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M560.743 133.852C562.065 38.6644 504.834 10.2855 476.053 7.9946C428.957 7.9946 338.28 9.71282 262.266 7.99462C186.251 6.27642 57.1454 -31.9535 17.4856 75.4338C-14.8757 163.059 22.8561 252.768 11.2886 362.733C-0.278809 472.697 -6.88867 574.14 11.2888 624.827C29.4662 675.514 107.96 690.548 151.751 681.957C195.542 673.366 284.363 655.325 385.166 675.084C482.478 694.16 519.844 668.641 543.392 610.223C566.94 551.804 567.766 440.354 560.743 355.733C553.72 271.111 559.091 252.838 560.743 133.852Z"
      fill="black"></path>
  </svg>
</div>
