/* file can be highlighted as with some syntax but it's not */

#cmpbox.cmpfullscreen {
  max-width: 539px !important;
  max-height: 609px !important;
  padding-top: 30px !important;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.cmpbox span.cmptogglespan svg .cmpsvggreenfill {
    fill: white !important;
  }

  &.cmpbox span.cmptogglespan svg .cmpsvgredfill {
    fill: black !important;
  }

  &.cmpbox span.cmptogglespan svg .cmpsvggrayfill {
    fill: white !important;
  }

  .cmptogglespan svg .cmpsvgwhitefill {
    fill: rgba(72, 72, 72, 1) !important;
  }

  .cmptxt_hl_custom,
  .cmpboxhl {
    margin: 25px 0;
    font-family: var(--font-poppins) !important;
    color: var(--white) !important;
  }

  .cmpboxtxt {
    color: var(--white) !important;
    font-size: 16px !important;
    padding-bottom: 25px !important;
  }

  .cmptblboxcarousel {
    height: 165px !important;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .cmpboxbtnyes,
  .cmpboxbtnaccept {
    width: 47% !important;
  }

  .cmpboxnaviitem {
    display: flex;
    justify-content: space-between;
    padding-right: 36px !important;
    padding-left: 0 !important;
    background: unset !important;

    & > :first-child {
      order: 2;
    }

    &:before,
    &:after {
      border-color: var(--white) !important;
    }
  }

  .cmpboxnaviitemtxt {
    margin-left: 0 !important;
    color: var(--white) !important;
    font-family: var(--font-poppins) !important;
    font-size: 16px !important;

    svg {
      width: 26px !important;
      height: 26px !important;
      padding: 4px !important;
      border-radius: 27px !important;
      background: var(--white) !important;
      color: var(--black) !important;
      margin-right: 12px !important;
    }
  }

  .cmpboxbtnscustomchoices {
    border-top-color: var(--white3) !important;
    padding-top: 25px !important;
    gap: 25px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

    .cmpboxbtn {
      flex: 1;
    }
  }

  .cmptxt_btn_back {
    width: 100% !important;
    order: 3 !important;
    font-size: 18px !important;
    margin-top: 6px !important;
    color: var(--white5) !important;
    font-family: Arial !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    &:before {
      content: "Go to the main page";
    }
  }

  .cmpboxbtnrejectcustomchoices,
  .cmpboxbtnyescustomchoices {
    background: var(--mauve) !important;
    font-size: 18px !important;
    color: var(--black) !important;
    font-family: Arial !important;
    padding: 15px 0 !important;
  }

  .cmpboxbtnrejectcustomchoices {
    background: transparent !important;
    border: 1px solid white;
    color: white !important;
  }

  .cmpcarouselcontent {
    padding: 0 !important;
  }

  .cmpprpsdescr {
    color: var(--white) !important;
    font-family: var(--font-poppins) !important;
    font-size: 16px !important;
    margin-bottom: 0 !important;
  }

  .cmpboxinner {
    height: unset !important;
  }

  .cmpvendname {
    color: var(--white) !important;
  }
}

.cmpboxtxt {
  font-family: var(--font-poppins) !important;
}

#cmpbox {
  background: var(--cmpBg);
}

#cmpbox::before {
  content: "";
  width: 65px;
  height: 65px;
  display: block;
  background-image: url("./images/cookie.svg");
  background-size: 65px 65px;
  background-position: center;
  top: 37px;
  left: 39px;
}

#cmpbox:not(.cmpfullscreen) + .cmpboxBG {
  display: none !important;
}

#cmpbox:not(.cmpfullscreen) {
  top: initial !important;
  right: 0;
  bottom: 0;
  left: 0;
  transform: initial !important;
  width: 100vw !important;
  max-width: 100vw !important;
  max-height: 127px;
  border-radius: 30px 30px 0 0 !important;
  padding-right: 40px !important;
  padding-left: 123px !important;
  min-height: unset !important;
  backdrop-filter: blur(5px);

  &::before {
    position: absolute;
    width: 53px;
    height: 53px;
    background-size: 53px 53px;
  }

  .cmpboxcontent,
  .cmpboxtxtdiv {
    height: 100%;
    display: flex;
  }

  .cmpboxwelcomeprps,
  .cmpboxhl {
    display: none;
  }

  .cmpboxtxt {
    color: var(--white) !important;
  }

  .cmpboxinner {
    flex-direction: row;
    align-items: center;
    margin: 0;
    max-width: 100%;
    gap: 97px !important;
  }

  .cmpboxbtns {
    border: none;
    padding: 0 !important;
    align-items: center;
    min-height: unset !important;
    gap: 30px !important;
  }

  .cmpboxbtns .cmpboxbtnspan {
    width: unset;
  }

  .cmpboxbtnspan a {
    padding: 10px 24px !important;
  }

  .cmpboxbtns .cmpmore {
    width: unset;
  }

  .cmptxt_btn_yes {
    margin-top: 0;
    margin-bottom: 0 !important;
    background: var(--mauve) !important;
  }

  #cmpwelcomebtnno {
    order: 2;
  }

  #cmpwelcomebtnyes {
    order: 3;
    align-self: start;
  }

  #cmpbntyestxt {
    color: var(--black) !important;
  }

  .cmptxt_btn_no {
    margin-top: 0 !important;
    background: transparent !important;
    color: var(--white) !important;
    border: 1px solid var(--white);
  }

  #cmpbntnotxt,
  #cmpbntyestxt {
    font-size: 18px !important;
    font-family: Arial !important;
    font-weight: 400 !important;
  }

  .cmptxt_txt {
    max-width: 66.51vw;
    font-family: var(--font-poppins) !important;
    font-weight: var(--font-weight) !important;
    font-size: 16px !important;
    padding-bottom: 0 !important;
    margin: auto 0;

    span {
      font-family: var(--font-poppins) !important;
    }
  }

  .cmptxt_txt span,
  .cmptxt_txt a {
    color: var(--white) !important;
    background: none !important;
    font-size: 16px !important;
  }

  .cmpmorelink {
    color: var(--black5);
    font-size: 18px;
  }

  #cmpwelcomebtnsave {
    display: none !important;
  }
}

.cmpboxBG {
  background-color: var(--black5);
}

@media (max-width: 576px) {
  #cmpbox:not(.cmpfullscreen) {
    padding: 17px 25px !important;
    max-height: 277px;

    .cmpboxinner {
      gap: 20px !important;
      flex-direction: column;

      .cmpboxcontent,
      .cmpboxtxtdiv {
        width: 100%;

        .cmpboxtxt,
        .cmptxt_txt {
          margin-top: 0;
          margin-bottom: 0;
        }

        .cmptxt_txt,
        span,
        a {
          width: 100%;
          max-width: 100%;
          font-size: 13px !important;
        }
      }
      .cmpboxbtns {
        flex-direction: column;
        width: 100%;
        gap: 15px !important;

        #cmpbntnotxt,
        #cmpbntyestxt,
        .cmpmorelink {
          font-size: 16px !important;
        }

        .cmpmore {
          order: 3;
        }

        #cmpwelcomebtnno {
          width: 100%;
          order: 2;
        }

        #cmpwelcomebtnyes {
          width: 100%;
          order: 1;
        }
      }
    }
  }

  #cmpbox::before {
    background-image: none;
    display: none;
  }
}
