---
import "./styles.scss";
---

<div class="pink-pastel-mobile__wrapper">
  <div class="pink-pastel-mobile">
    <svg
      width="375"
      height="304"
      viewBox="0 0 375 304"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_324_2255)">
        <path
          d="M-52.362 2.35945C-100.691 -1.322 -128.789 -0.201462 -149.181 2.35945L-189 282.211C-184.344 290.641 -164.723 307.5 -123.491 307.5C-71.9508 307.5 -36.3061 298.857 -7.56564 298.857C21.1749 298.857 74.1601 303.178 109.162 303.178C144.165 303.178 183.342 298.857 213.046 298.857C242.75 298.857 290.436 303.178 327.847 303.178C365.258 303.178 402.508 296.936 424.023 296.456C441.236 296.072 486.321 300.778 506.712 303.178C521.377 263.591 542.775 3.51231 516.828 2.3599C484.395 0.919379 445.057 8.12144 424.024 8.12144C402.99 8.12144 362.047 -1.24356 321.104 2.35945C292.625 4.86559 258.003 8.12144 205.66 8.12144C177.298 8.12144 114.782 -1.322 63.2422 2.35945C23.447 5.20198 -9.24658 5.64377 -52.362 2.35945Z"
          fill="#F2DAF5"></path>
      </g>
      <defs>
        <clipPath id="clip0_324_2255">
          <rect width="375" height="304" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
</div>
