.pink-pastel-mobile__wrapper {
  position: relative;

  @include des {
    display: none;
  }

  @include mob {
    height: m(304);
    width: m(375),
  }

  & .pink-pastel-mobile {
    position: absolute;

    @include mob {
      height: m(304);
      width: m(375),
    }

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}
