---
import "./styles.scss";
---

<div class="perfume-pastel-mobile__wrapper">
  <div class="perfume-pastel-mobile">
    <svg
      width="375"
      height="87"
      viewBox="0 0 375 87"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_323_2248)">
        <path
          d="M-93.294 -7.15491C-235.513 -19.0932 -363.632 64.2187 -409.914 111.913L-431 364.753C-431 364.753 -252.902 965.5 -93.294 965.5C66.3136 965.5 75.7214 919.931 201.266 901.058C326.811 882.185 384.556 951.093 514.318 937.048C644.08 923.003 695.024 834.056 755.027 791.58C842.759 729.473 915 188.268 915 188.268L901.334 -212C885.871 -160.941 834.961 1.40646 755.027 1.40646C655.11 1.40646 641.07 -20.4908 514.318 -16.2478C356.981 -10.9809 305.076 30.2048 201.266 35.0328C97.4567 39.8608 84.4803 7.76794 -93.294 -7.15491Z"
          fill="#D9BBF9"></path>
      </g>
      <defs>
        <clipPath id="clip0_323_2248">
          <rect width="375" height="87" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
</div>
