---
import "./styles.scss";
---

<div class="bookmark-second">
  <svg
    width="173"
    height="277"
    viewBox="0 0 173 277"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M13.3603 122.779C20.1768 155.973 27.5223 223.686 30.343 253.393L172.896 276.653C170.15 261.812 163.069 218.511 156.716 164.027C150.362 109.544 135.149 32.4085 128.336 0.651077L79.1878 118.009L0.51842 35.4783C1.95887 50.7474 6.54389 89.5843 13.3603 122.779Z"
      fill="#D9BBF9"></path>
  </svg>
</div>
