---
import "./styles.scss";
---

<div class="black-pastel__wrapper">
  <div class="black-pastel">
    <svg
      width="2004"
      height="467"
      viewBox="0 0 2004 467"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M38.8158 81.0791C8.87937 113.452 -0.701415 187.051 0.039429 257.123C0.880081 336.636 -0.280244 427.626 54.4542 454.814C96.8674 475.882 235.875 467.945 526.302 443.918C816.73 419.892 1656.54 429.584 1814.01 443.918C1913.76 452.998 1997.84 462.732 2001.7 377.622C2005.55 292.511 2005.41 252.043 1994.7 157.23C1984.06 63.0594 1976.11 50.3949 1892 30.9818C1776.94 4.42591 1093.2 0 958.593 0C823.991 0 307.924 26.5559 220.237 30.9819C132.55 35.4079 76.2363 40.6129 38.8158 81.0791Z"
        fill="black"></path>
    </svg>
  </div>
</div>
