---
import "./styles.scss";
---

<div class="bookmark-first">
  <svg
    width="188"
    height="289"
    viewBox="0 0 188 289"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M34.58 85.8769C28.2937 119.176 9.40136 184.613 0.740968 213.17L123.813 288.772C126.902 273.999 136.778 231.249 151.57 178.428C166.361 125.607 181.548 48.4663 187.293 16.4985L97.2956 106.438L55.8178 0.231054C51.3578 14.9052 40.8662 52.5782 34.58 85.8769Z"
      fill="#D9BBF9"></path>
  </svg>
</div>
