---
import "./styles.scss";
---

<div class="white-pink-pastel__wrapper">
  <div class="white-pink-pastel">
    <svg
      width="2010"
      height="934"
      viewBox="0 0 2010 934"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M24.7524 86.229C-5.18913 120.658 1.44725 222.004 1.44491 306.327C1.44135 434.729 3.25245 652.817 57.9963 681.732C100.417 704.138 221.846 614.629 512.323 589.076C802.801 563.523 1642.75 573.831 1800.25 589.076C1900.02 598.733 1981.56 640.362 1990.25 535.953C1999.02 430.668 2003.52 306.327 1990.25 183.577C1979.43 83.4422 1962.38 53.5958 1878.25 32.9497C1763.18 4.70703 1079.31 0 944.688 0C810.063 0 293.906 28.2427 206.204 32.9498C118.502 37.6569 62.1793 43.1925 24.7524 86.229Z"
        fill="white"></path>
      <path
        class="white-pink-pastel__pink-part"
        d="M43.8029 523.566C13.8614 557.996 4.27893 636.269 5.0199 710.792C5.8607 795.356 4.70018 892.125 59.444 921.04C101.865 943.446 240.896 935.005 531.373 909.452C821.851 883.899 1661.8 894.208 1819.3 909.452C1919.07 919.109 2003.17 929.461 2007.02 838.945C2010.87 748.428 2010.74 705.39 2000.02 604.555C1989.38 504.402 1981.43 490.933 1897.3 470.287C1782.23 442.044 1098.36 437.337 963.738 437.337C829.113 437.337 312.957 465.58 225.255 470.287C137.553 474.994 81.2298 480.53 43.8029 523.566Z"
        fill="#F2DAF5"></path>
    </svg>
  </div>
</div>
