---
import "./styles.scss";
---

<div class="flame">
  <svg
    width="1920"
    height="762"
    viewBox="0 0 1920 762"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M45.6051 24.8153C61.5872 33.9427 90.8116 63.2362 79.8525 107.39C66.1535 162.583 129.511 139.907 127.371 107.39C125.23 74.8737 158.193 46.6356 173.605 38.9343C168.04 68.1707 164.358 127.242 194.153 129.638C231.397 132.633 194.153 48.347 203.571 20.1089C213.132 35.2263 237.819 68.6271 260.079 81.2914C287.905 97.1218 262.648 139.051 293.899 141.19C325.149 143.33 369.243 112.097 337.992 53.4812C323.951 26.7834 334.425 6.70298 341.417 0C338.848 10.411 339.79 35.6826 364.106 53.4812C394.5 75.7294 421.042 94.5547 425.751 120.226C430.46 145.897 453.149 78.2965 477.55 65.8888C497.071 55.9627 497.385 28.0955 495.102 15.4026C501.952 20.1089 514.794 38.0786 511.37 72.3066C507.089 115.092 511.37 120.226 530.634 120.226C549.898 120.226 546.473 62.8939 568.306 53.4812C585.772 45.951 607.548 19.8237 616.252 7.70129C618.535 22.3908 618.735 58.6154 601.269 85.9978C579.436 120.226 647.075 137.768 653.068 109.529C659.062 81.2914 661.202 50.9141 653.068 38.9343C666.482 43.2128 694.508 58.6154 699.302 85.9978C705.296 120.226 727.128 139.479 747.249 120.226C767.369 100.972 778.927 60.7546 802.473 53.4812C799.904 69.0264 800.503 104.139 823.449 120.226C852.131 140.335 880.385 69.3116 864.118 34.6558C877.817 41.9293 905.557 64.5197 906.927 96.694C908.639 136.912 944.599 127.499 944.599 96.694C944.599 65.8888 971.141 31.6609 977.99 23.5317C972.996 43.9259 968.23 89.6773 989.121 109.529C1010.01 129.382 1014.09 87.5665 1013.52 64.1774C1022.94 67.315 1041.95 80.778 1042.63 109.529C1043.49 145.469 1085.87 129.211 1078.16 96.694C1070.46 64.1774 1106.85 24.3874 1128.25 7.70129C1123.68 43.3554 1130.48 113.637 1194.18 109.529C1273.8 104.395 1236.99 26.0988 1279.8 13.6912C1277.8 16.1157 1273.8 27.7246 1273.8 54.7647C1273.8 88.5648 1329.45 122.793 1339.3 100.972C1349.15 79.1522 1352.57 53.4812 1329.88 44.0685C1345.86 44.4963 1377.83 54.4225 1377.83 90.7041C1377.83 136.056 1424.49 122.365 1439.9 109.529C1455.31 96.694 1459.17 48.7748 1487.85 33.8001C1479.29 55.7631 1468.67 101.657 1494.7 109.529C1527.23 119.37 1565.76 68.0281 1549.92 7.70129C1549.92 3.4228 1591.02 42.785 1574.32 115.092C1558 185.8 1631.32 159.384 1632.97 117.371V114.5C1633.01 115.464 1633.01 116.422 1632.97 117.371V666.59L0 759.056V114.955C20.9952 106.931 48.4283 46.6831 45.6051 24.8153Z"
      fill="#D9BBF9"></path>
    <path
      d="M1887.17 90.7041C1887.17 136.056 1840.51 122.365 1825.1 109.529C1809.69 96.6939 1805.83 48.7748 1777.15 33.8001C1785.71 55.763 1796.33 101.657 1770.3 109.529C1737.77 119.37 1699.24 68.028 1715.08 7.70124C1715.08 3.42275 1673.98 42.7849 1690.68 115.091C1707.02 185.853 1634.5 158.387 1633 116.278L1633 113.5C1632.96 114.432 1632.96 115.359 1633 116.278L1632.03 666.59L1920 682.896V84.9055C1917.7 75.7172 1917.25 66.6899 1920 59.1909V46.7035C1904.49 51.5743 1887.17 64.0009 1887.17 90.7041Z"
      fill="#D9BBF9"></path>
  </svg>
</div>
