<div class="phone__obj phone__obj--eggplan">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="128"
    height="93"
    viewBox="0 0 128 93"
    fill="none"
  >
    <path
      d="M31.4002 59.5293C25.8614 51.221 18.2455 43.6051 15.1299 40.8357L10.9758 31.489C13.1683 23.8731 18.8687 8.71057 24.1305 8.98751C30.7079 9.33368 26.5538 7.94898 50.0938 19.719C73.6338 31.489 88.5193 24.5654 101.674 28.7196C114.829 32.8737 134.907 46.3746 124.522 69.2222C114.136 92.0698 92.3273 95.5316 73.6338 89.9928C54.9402 84.454 38.3238 69.9145 31.4002 59.5293Z"
      fill="var(--mauve)"
      stroke="var(--black)"></path>
    <path
      d="M62.9028 76.8385C71.211 81.8234 80.9039 83.5312 84.7119 83.762C91.6353 83.762 96.4819 82.0311 96.1358 79.9541C95.7896 77.877 93.0202 76.8385 85.7505 76.1461C78.4808 75.4538 67.4031 72.3382 64.2875 70.2611C61.1719 68.1841 47.3248 58.145 45.9401 60.9144C44.5554 63.6838 52.5175 70.6073 62.9028 76.8385Z"
      fill="var(--white)"></path>
    <path
      d="M6.475 21.7958C6.19806 29.2732 8.20588 33.4504 9.24441 34.6043C10.6292 37.4891 13.8141 42.8433 15.4757 41.1816C17.5528 39.1046 14.4372 31.8349 16.5143 29.7578C18.5913 27.6808 24.8225 30.7964 26.5534 29.7578C28.2843 28.7193 27.2457 24.5652 26.5534 21.7958C25.861 19.0264 26.2072 15.2184 32.0922 15.2184C37.9772 15.2184 42.1313 10.372 34.5154 7.25636C26.8996 4.14078 19.976 8.98725 14.4372 8.29489C8.8984 7.60254 6.475 -2.0904 1.97479 2.75607C-2.52543 7.60254 6.82118 12.449 6.475 21.7958Z"
      fill="var(--white)"
      stroke="var(--black)"></path>
    <circle cx="105.136" cy="76.4919" r="3.46176" fill="var(--white)"></circle>
  </svg>
</div>
