<div class="phone__obj phone__obj--over-you">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="184"
    height="186"
    viewBox="0 0 184 186"
    fill="none"
  >
    <path
      d="M36.1594 181.07V164.477V149.295C36.1594 141.881 33.3351 140.469 26.6271 135.173C21.2607 130.936 21.8021 125.17 22.7436 122.816C17.4478 122.11 2.97246 114.343 1.2072 99.5148C-0.205013 87.6522 4.38461 77.6255 6.85595 74.0949C5.09069 72.4474 1.91321 67.2457 3.32542 59.6198C5.09069 50.0873 8.97427 45.4976 17.8006 36.3183C24.8617 28.9748 23.0964 17.4888 21.3311 12.6637C26.6269 15.4881 36.1594 25.0206 33.688 35.2591C31.2166 45.4976 32.6289 49.0282 32.6289 49.7343C32.6289 50.4404 32.6289 45.8507 36.1594 40.2019C39.6899 34.553 45.6918 36.3183 50.2815 25.0206C53.9533 15.9824 48.2809 5.72034 44.9857 1.71907C46.9863 1.95444 52.3998 3.48434 58.0487 7.72097C65.1097 13.0168 66.1689 19.7248 62.6384 33.8469C59.8139 45.1446 68.7579 48.6751 73.583 49.0282C69.3464 43.0263 69.3464 39.1427 75.7013 30.3164C80.7853 23.2553 79.2318 16.0766 77.8196 13.3698C78.9965 13.8406 82.2681 15.7706 85.9399 19.7248C90.5296 24.6675 83.4685 40.5549 91.2357 38.4366C99.0028 36.3183 96.5315 21.49 91.5887 14.0759C87.6345 8.14464 86.8813 2.66055 86.999 0.659912C89.4704 3.48434 106.064 9.13318 112.419 12.3107C118.774 15.4881 119.48 22.1961 117.362 27.1389C115.243 32.0816 113.478 37.3774 117.362 38.0835C121.245 38.7896 124.07 33.4938 124.07 29.2572C124.07 25.0206 121.951 20.7839 128.659 13.3698C134.026 7.43853 140.545 5.2496 143.134 4.89655C142.193 6.07339 140.31 9.55685 140.31 14.0759C140.31 19.7248 148.077 21.49 150.196 26.0797C152.314 30.6694 148.077 38.0835 151.608 38.7896C155.138 39.4957 156.197 31.3755 156.904 29.2572C157.61 27.1389 159.022 21.137 167.495 20.4309C174.274 19.866 178.793 13.6052 180.205 10.5454C179.852 22.9023 173.144 26.7858 172.438 32.0816C171.732 37.3774 176.321 40.2019 181.264 45.8507C186.207 51.4996 183.382 57.8545 180.205 63.5034C177.028 69.1522 180.558 70.2114 176.674 76.9194C173.568 82.2858 167.613 86.2164 165.024 87.511C167.26 92.1006 172.438 102.41 175.262 106.929C178.087 111.448 176.439 113.755 175.262 114.343C173.379 115.755 168.201 119.498 162.552 123.169C156.904 126.841 153.608 126.582 152.667 125.994C153.02 127.524 153.232 132.914 151.255 142.234C148.783 153.885 143.841 161.652 130.778 164.123C120.327 166.101 114.655 162.594 113.125 160.593C111.713 169.772 100.062 178.246 88.0582 178.246C78.4551 178.246 71.1116 174.009 68.6403 171.891C68.6403 175.068 65.8158 176.833 62.6384 178.246C59.4609 179.658 49.9285 184.954 43.2204 185.66C37.854 186.225 36.2771 182.835 36.1594 181.07Z"
      fill="var(--mauve)"></path>
    <path
      d="M130.07 155.651C122.162 156.78 117.831 153.297 116.654 151.414C111.712 147.177 112.771 129.172 112.771 123.523C112.771 117.874 113.83 116.462 115.242 116.462H123.362C126.469 116.462 126.305 118.58 125.834 119.639C125.01 123.758 124.21 132.067 127.599 132.349C131.836 132.702 131.13 121.405 131.13 118.58C131.13 115.756 133.954 116.109 139.25 115.756C143.486 115.473 144.546 117.521 144.546 118.58C144.546 120.816 144.334 127.477 143.486 136.233C142.427 147.177 139.956 154.238 130.07 155.651Z"
      fill="var(--white)"
      stroke="var(--black)"></path>
    <path
      d="M43.2219 139.056V167.654V172.596C43.2219 175.068 43.2219 177.892 46.0463 176.127C48.8708 174.362 57.344 170.478 60.1685 169.419C62.428 168.572 62.7575 165.535 62.6398 164.123L61.5807 139.762C63.699 136.467 68.783 129.1 72.1723 125.993C75.5616 122.887 74.526 121.168 73.5845 120.698C72.0546 119.638 68.3593 117.238 65.8173 116.108C63.2753 114.978 61.463 116.108 60.8746 116.814C58.2855 121.286 52.825 129.948 51.6952 128.818C50.283 127.406 41.8097 116.814 40.0444 116.108C38.2792 115.402 34.3956 119.285 31.5712 121.404C28.7468 123.522 28.7468 124.934 30.512 126.7C31.9243 128.112 39.5737 135.526 43.2219 139.056Z"
      fill="var(--white)"
      stroke="var(--black)"></path>
    <path
      d="M100.061 116.462C81.7022 113.355 70.9929 130.466 67.9331 139.41C63.3435 157.769 73.935 168.36 82.7614 168.36C117.008 169.773 123.009 120.345 100.061 116.462Z"
      fill="var(--white)"
      stroke="var(--black)"></path>
    <path
      d="M96.4812 142.188C95.8919 144.496 94.7161 146.398 93.3167 147.615C91.9154 148.833 90.3326 149.335 88.8814 148.964C87.4303 148.593 86.2817 147.395 85.6362 145.654C84.9916 143.915 84.872 141.682 85.4613 139.374C86.0506 137.067 87.2264 135.164 88.6259 133.947C90.0272 132.729 91.6099 132.228 93.0611 132.599C94.5123 132.969 95.6609 134.168 96.3063 135.909C96.951 137.648 97.0705 139.881 96.4812 142.188Z"
      fill="var(--mauve)"
      stroke="var(--black)"></path>
    <path
      d="M115.596 109.753H124.775H130.424C132.401 109.753 133.837 108.106 134.307 107.282L139.25 91.3947C142.898 97.8673 150.618 111.519 152.313 114.343C154.008 117.168 156.079 117.403 156.903 117.168C159.845 115.402 166.223 111.66 168.2 110.813C170.178 109.965 169.024 107.164 168.2 105.87L155.844 81.8623C161.492 81.1562 172.79 76.7077 172.79 64.5627C172.084 45.4978 149.136 45.8509 143.134 45.1447C137.132 44.4386 135.367 45.8509 134.307 49.0283C133.46 51.5703 130.424 61.6206 129.012 66.3279C127.599 70.5646 124.634 79.6027 124.069 81.8623C123.363 84.6867 115.243 103.399 114.89 104.811C114.536 106.223 112.065 109.753 115.596 109.753Z"
      fill="var(--white)"
      stroke="var(--black)"></path>
    <path
      d="M149.137 57.1486C148.289 59.973 145.959 66.3279 144.9 69.1524C147.96 69.5054 154.221 69.0111 154.785 64.2096C155.35 59.4081 151.255 57.5016 149.137 57.1486Z"
      fill="var(--mauve)"
      stroke="var(--black)"></path>
    <path
      d="M88.41 103.399C88.1275 107.635 92.9997 107.282 95.471 106.576C101.826 105.87 115.948 105.87 121.95 105.517C127.952 105.164 129.364 93.8664 129.364 91.042C129.364 88.2175 127.246 89.6297 120.185 90.3359C113.124 91.042 108.534 90.6889 108.534 88.5706C108.534 86.4523 109.946 84.687 114.889 85.0401C119.832 85.3931 121.244 78.3321 118.772 77.626C116.301 76.9199 111.005 78.6851 111.005 74.4485C111.005 70.2118 122.303 71.624 127.246 71.624C132.188 71.624 133.601 62.4447 132.188 60.3264C130.776 58.208 125.48 60.3264 118.772 60.3264H94.0588C93.588 64.2099 92.6466 73.1069 92.6466 77.626C92.6466 83.2748 88.763 98.103 88.41 103.399Z"
      fill="var(--white)"
      stroke="var(--black)"></path>
    <path
      d="M60.1669 111.519H68.6401H73.5829C76.6897 111.519 79.8202 106.576 80.997 104.105C87.705 90.1002 101.545 61.1734 103.239 57.5016C104.934 53.8299 108.182 49.146 109.594 47.2631H91.9416C86.6458 47.2631 85.5867 46.91 82.7623 54.6772C80.5027 60.8909 74.642 75.8604 72.5237 75.8604C71.1115 75.8604 70.6878 64.3508 70.4054 60.6791C70.0523 56.0894 69.3462 52.5588 67.2279 52.5588C65.1096 52.5588 58.4016 52.9119 53.4589 52.5588C49.5047 52.2764 48.5161 53.8534 48.5161 54.6772L48.8692 61.0321L54.8711 92.4538C55.3418 94.5722 56.4245 100.08 56.9894 105.164C57.5543 110.248 59.3431 111.519 60.1669 111.519Z"
      fill="var(--white)"
      stroke="var(--black)"></path>
    <path
      d="M11.0917 81.8623C5.16046 105.587 18.2705 112.46 25.5669 112.931C49.5746 115.402 63.6966 86.805 57.3417 69.8585C50.9867 52.9119 18.5059 52.2058 11.0917 81.8623Z"
      fill="var(--white)"
      stroke="var(--black)"></path>
    <path
      d="M40.1393 90.0001C38.373 92.6996 36.0284 94.6298 33.6873 95.5822C31.344 96.5354 29.0543 96.4948 27.3122 95.355C25.5701 94.2152 24.6158 92.1334 24.5508 89.6044C24.4858 87.0779 25.3155 84.1565 27.0817 81.4569C28.848 78.7574 31.1925 76.8272 33.5336 75.8748C35.877 74.9216 38.1667 74.9622 39.9088 76.102C41.6509 77.2418 42.6052 79.3236 42.6702 81.8526C42.7351 84.3791 41.9055 87.3005 40.1393 90.0001Z"
      fill="var(--mauve)"
      stroke="var(--black)"></path>
  </svg>
</div>
