<div class="phone__obj phone__obj--stay">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="250"
    height="171"
    viewBox="0 0 250 171"
    fill="none"
  >
    <path
      d="M189.321 113.859C176.135 115.366 171.897 131.44 171.426 139.289C171.426 149.649 176.606 167.544 191.205 165.189C205.803 162.835 209.571 155.3 210.042 143.056C210.513 130.812 205.803 111.975 189.321 113.859Z"
      fill="var(--white)"
      stroke="var(--black)"></path>
    <path
      d="M66.4113 9.31428L54.6383 84.6616C50.4 106.795 41.9234 152.003 41.9234 155.771C41.9234 160.48 40.0397 166.131 51.3418 166.131C62.6439 166.131 72.5332 167.544 77.2425 167.544C81.9517 167.544 80.5389 159.067 82.4226 141.643C84.3063 124.219 90.8992 89.8417 92.3119 80.8942C93.7247 71.9467 97.0211 62.5283 96.0793 60.6446C95.1374 58.7609 90.4282 59.7028 85.719 59.7028C81.0098 59.7028 80.5389 60.1737 81.4807 51.2262C82.4226 42.2787 86.1899 23.9128 88.5445 16.849C90.8992 9.78519 89.9573 4.60507 86.1899 4.13415C82.4226 3.66323 76.3006 2.72139 71.1205 3.19231C66.9764 3.56905 66.2543 7.4306 66.4113 9.31428Z"
      fill="var(--pink)"
      stroke="var(--black)"></path>
    <path
      d="M141.287 4.60493C136.766 4.22819 129.043 3.82006 125.747 3.66309L117.741 3.66309C112.476 3.66305 111.148 4.60493 110.677 10.256C110.206 15.907 106.439 31.4474 104.555 43.2204C102.672 54.9934 96.5498 96.9054 95.137 108.207C93.7243 119.51 88.544 145.881 87.6021 153.887C86.6603 161.892 87.6021 166.602 92.3113 166.602C97.0205 166.602 106.91 165.66 113.503 165.66C120.096 165.66 116.799 151.061 116.328 143.997C115.857 136.934 117.27 97.8472 122.921 97.8472C128.572 97.8472 125.276 108.678 124.805 118.097C124.334 127.515 121.038 156.712 121.038 162.363C121.038 168.014 131.869 166.602 141.287 165.66C150.706 164.718 151.176 167.544 150.706 153.887C150.235 140.23 147.88 126.102 147.88 112.446C147.88 98.7891 143.171 34.2729 143.642 25.7964C144.113 17.3198 146.938 5.07585 141.287 4.60493Z"
      fill="var(--mauve)"
      stroke="var(--black)"></path>
    <path
      d="M126.686 22.5004C122.919 22.5004 119.466 38.1977 118.21 46.0464C116.444 54.9939 118.21 54.9939 125.274 55.4648C132.337 55.9357 129.983 49.3428 129.512 42.75C129.041 36.1571 131.396 22.5004 126.686 22.5004Z"
      fill="var(--black)"
      stroke="var(--black)"></path>
    <path
      d="M151.175 51.6973C151.929 40.7719 153.059 17.0061 153.53 6.4889V3.19244L177.076 3.19244C174.251 16.0643 169.824 41.8079 174.722 41.8079C180.844 41.8079 182.727 29.0931 185.553 14.4946C187.813 2.81572 190.89 0.83785 192.146 1.30877C194.971 1.46574 202.506 1.68551 210.041 1.30877C217.575 0.932034 216.634 4.60522 215.221 6.4889C211.139 19.3607 201.941 48.5892 197.797 62.5285C192.617 79.9525 172.838 150.12 171.896 158.125C170.954 166.131 160.123 164.718 155.885 164.247C151.646 163.776 145.054 164.718 147.408 158.125C149.763 151.533 151.175 145.411 155.885 128.928C159.652 115.743 167.501 88.9 170.954 77.127C169.541 78.5398 165.209 81.1769 159.181 80.4235C151.646 79.4816 150.234 65.354 151.175 51.6973Z"
      fill="var(--pink)"
      stroke="var(--black)"></path>
    <path
      d="M189.793 101.144C189.416 105.665 194.031 108.678 197.327 109.149C200.591 109.616 204.862 109.903 206.746 109.149C211.926 106.795 215.693 96.4345 221.344 80.4232C226.996 64.4119 246.303 17.3199 248.187 9.78513C250.071 2.25039 245.361 1.30855 234.53 1.77947C223.699 2.25039 217.577 -2.45882 215.693 3.66315C213.81 9.78512 202.979 46.046 199.211 60.6446C195.444 75.2431 190.264 95.4927 189.793 101.144Z"
      fill="var(--white)"
      stroke="var(--black)"></path>
    <path
      d="M43.8038 41.3373C41.1667 28.905 52.4374 29.2504 58.4024 30.9771C60.2861 31.4125 60.443 31.1585 60.286 30.9771C61.3848 22.8145 63.2057 6.4892 61.6987 6.4892C54.164 6.01828 21.6705 2.25091 18.845 25.7969C16.0194 49.343 34.3853 51.2267 31.0889 62.0578C28.4517 70.7228 18.374 68.4938 13.6648 66.2961C11.7812 75.8715 8.48471 102.681 6.60103 117.28L6.52125 117.898C5.14771 128.54 2.34448 150.258 1.4209 165.189C5.81616 168.643 18.1857 173.478 32.5017 165.189C50.3967 154.829 52.7513 121.865 54.6349 95.0223C56.5186 68.1798 47.1003 56.8777 43.8038 41.3373Z"
      fill="var(--mauve)"
      stroke="var(--black)"></path>
  </svg>
</div>
