---
import "./styles.scss";

import DragMeWomen from "../../svg/DragMeWomen";
import Flowers from "../../svg/Flowers";
---

<section class="drag-me">
  <DragMeWomen />
  <Flowers client:only="react" />
  <p class="drag-me__text">Drag Me</p>
</section>
