---
import "./styles.scss";

import LogoAnimation from "../LogoAnimation";

const { bodyColor } = Astro.props;
---

<div class="page-transition" data-page-transition>
  <!-- <LogoAnimation client:only="react" /> -->
</div>
