---
import "./styles.scss";
---

<div class="perfume-pastel__wrapper">
  <div class="perfume-pastel">
    <svg
      width="1920"
      height="693"
      viewBox="0 0 1920 693"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_314_970)">
        <path
          d="M322.924 26C-11.4244 -2.09076 -312.623 193.942 -421.428 306.167L-471 901.099C-471 901.099 -52.3028 1125.21 322.924 1125.21C698.151 1125.21 720.268 1017.99 1015.42 973.582C1310.56 929.173 1446.32 1091.31 1751.38 1058.27C2056.44 1025.22 2176.21 815.928 2317.27 715.98C2523.52 569.843 2693.35 485.829 2693.35 485.829L2661.23 -456C2624.87 -335.857 2505.19 46.1449 2317.27 46.1449C2082.37 46.1449 2049.36 -5.37933 1751.38 4.60455C1381.49 16.9975 1259.47 113.907 1015.42 125.268C771.366 136.628 740.859 61.1135 322.924 26Z"
          fill="#D9BBF9"></path>
      </g>
      <defs>
        <clipPath id="clip0_314_970">
          <rect width="1920" height="693" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
</div>
