---
import "./styles.scss";
---

<div class="download-app" data-download-app>
  <div class="download-app__qr">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="82"
      height="82"
      viewBox="0 0 82 82"
      fill="none"
    >
      <g clip-path="url(#clip0_0_4481)">
        <path d="M2.82759 0H0V2.82759H2.82759V0Z" fill="black"></path>
        <path d="M5.65522 0H2.82764V2.82759H5.65522V0Z" fill="black"></path>
        <path d="M8.48286 0H5.65527V2.82759H8.48286V0Z" fill="black"></path>
        <path d="M11.3105 0H8.48291V2.82759H11.3105V0Z" fill="black"></path>
        <path d="M14.1381 0H11.3105V2.82759H14.1381V0Z" fill="black"></path>
        <path d="M16.9658 0H14.1382V2.82759H16.9658V0Z" fill="black"></path>
        <path d="M19.7934 0H16.9658V2.82759H19.7934V0Z" fill="black"></path>
        <path d="M25.4487 0H22.6211V2.82759H25.4487V0Z" fill="black"></path>
        <path d="M28.2758 0H25.4482V2.82759H28.2758V0Z" fill="black"></path>
        <path d="M31.1035 0H28.2759V2.82759H31.1035V0Z" fill="black"></path>
        <path d="M33.9311 0H31.1035V2.82759H33.9311V0Z" fill="black"></path>
        <path d="M42.414 0H39.5864V2.82759H42.414V0Z" fill="black"></path>
        <path d="M53.7246 0H50.897V2.82759H53.7246V0Z" fill="black"></path>
        <path d="M65.0346 0H62.207V2.82759H65.0346V0Z" fill="black"></path>
        <path d="M67.8623 0H65.0347V2.82759H67.8623V0Z" fill="black"></path>
        <path d="M70.6899 0H67.8623V2.82759H70.6899V0Z" fill="black"></path>
        <path d="M73.5175 0H70.6899V2.82759H73.5175V0Z" fill="black"></path>
        <path d="M76.3452 0H73.5176V2.82759H76.3452V0Z" fill="black"></path>
        <path d="M79.1728 0H76.3452V2.82759H79.1728V0Z" fill="black"></path>
        <path d="M82.0004 0H79.1729V2.82759H82.0004V0Z" fill="black"></path>
        <path d="M2.82759 2.82617H0V5.65376H2.82759V2.82617Z" fill="black"
        ></path>
        <path d="M19.7934 2.82617H16.9658V5.65376H19.7934V2.82617Z" fill="black"
        ></path>
        <path d="M33.9311 2.82617H31.1035V5.65376H33.9311V2.82617Z" fill="black"
        ></path>
        <path d="M36.7587 2.82617H33.9312V5.65376H36.7587V2.82617Z" fill="black"
        ></path>
        <path d="M42.414 2.82617H39.5864V5.65376H42.414V2.82617Z" fill="black"
        ></path>
        <path d="M56.5517 2.82617H53.7241V5.65376H56.5517V2.82617Z" fill="black"
        ></path>
        <path d="M59.3793 2.82617H56.5518V5.65376H59.3793V2.82617Z" fill="black"
        ></path>
        <path d="M65.0346 2.82617H62.207V5.65376H65.0346V2.82617Z" fill="black"
        ></path>
        <path d="M82.0004 2.82617H79.1729V5.65376H82.0004V2.82617Z" fill="black"
        ></path>
        <path d="M2.82759 5.6543H0V8.48188H2.82759V5.6543Z" fill="black"></path>
        <path d="M8.48286 5.6543H5.65527V8.48188H8.48286V5.6543Z" fill="black"
        ></path>
        <path d="M11.3105 5.6543H8.48291V8.48188H11.3105V5.6543Z" fill="black"
        ></path>
        <path d="M14.1381 5.6543H11.3105V8.48188H14.1381V5.6543Z" fill="black"
        ></path>
        <path d="M19.7934 5.6543H16.9658V8.48188H19.7934V5.6543Z" fill="black"
        ></path>
        <path d="M28.2758 5.6543H25.4482V8.48188H28.2758V5.6543Z" fill="black"
        ></path>
        <path d="M33.9311 5.6543H31.1035V8.48188H33.9311V5.6543Z" fill="black"
        ></path>
        <path d="M39.5864 5.6543H36.7588V8.48188H39.5864V5.6543Z" fill="black"
        ></path>
        <path d="M42.414 5.6543H39.5864V8.48188H42.414V5.6543Z" fill="black"
        ></path>
        <path d="M45.2416 5.6543H42.4141V8.48188H45.2416V5.6543Z" fill="black"
        ></path>
        <path d="M48.0693 5.6543H45.2417V8.48188H48.0693V5.6543Z" fill="black"
        ></path>
        <path d="M59.3793 5.6543H56.5518V8.48188H59.3793V5.6543Z" fill="black"
        ></path>
        <path d="M65.0346 5.6543H62.207V8.48188H65.0346V5.6543Z" fill="black"
        ></path>
        <path d="M70.6899 5.6543H67.8623V8.48188H70.6899V5.6543Z" fill="black"
        ></path>
        <path d="M73.5175 5.6543H70.6899V8.48188H73.5175V5.6543Z" fill="black"
        ></path>
        <path d="M76.3452 5.6543H73.5176V8.48188H76.3452V5.6543Z" fill="black"
        ></path>
        <path d="M82.0004 5.6543H79.1729V8.48188H82.0004V5.6543Z" fill="black"
        ></path>
        <path d="M2.82759 8.48242H0V11.31H2.82759V8.48242Z" fill="black"></path>
        <path d="M8.48286 8.48242H5.65527V11.31H8.48286V8.48242Z" fill="black"
        ></path>
        <path d="M11.3105 8.48242H8.48291V11.31H11.3105V8.48242Z" fill="black"
        ></path>
        <path d="M14.1381 8.48242H11.3105V11.31H14.1381V8.48242Z" fill="black"
        ></path>
        <path d="M19.7934 8.48242H16.9658V11.31H19.7934V8.48242Z" fill="black"
        ></path>
        <path d="M31.1035 8.48242H28.2759V11.31H31.1035V8.48242Z" fill="black"
        ></path>
        <path d="M33.9311 8.48242H31.1035V11.31H33.9311V8.48242Z" fill="black"
        ></path>
        <path d="M36.7587 8.48242H33.9312V11.31H36.7587V8.48242Z" fill="black"
        ></path>
        <path d="M39.5864 8.48242H36.7588V11.31H39.5864V8.48242Z" fill="black"
        ></path>
        <path d="M42.414 8.48242H39.5864V11.31H42.414V8.48242Z" fill="black"
        ></path>
        <path d="M50.8969 8.48242H48.0693V11.31H50.8969V8.48242Z" fill="black"
        ></path>
        <path d="M56.5517 8.48242H53.7241V11.31H56.5517V8.48242Z" fill="black"
        ></path>
        <path d="M59.3793 8.48242H56.5518V11.31H59.3793V8.48242Z" fill="black"
        ></path>
        <path d="M65.0346 8.48242H62.207V11.31H65.0346V8.48242Z" fill="black"
        ></path>
        <path d="M70.6899 8.48242H67.8623V11.31H70.6899V8.48242Z" fill="black"
        ></path>
        <path d="M73.5175 8.48242H70.6899V11.31H73.5175V8.48242Z" fill="black"
        ></path>
        <path d="M76.3452 8.48242H73.5176V11.31H76.3452V8.48242Z" fill="black"
        ></path>
        <path d="M82.0004 8.48242H79.1729V11.31H82.0004V8.48242Z" fill="black"
        ></path>
        <path d="M2.82759 11.3105H0V14.1381H2.82759V11.3105Z" fill="black"
        ></path>
        <path d="M8.48286 11.3105H5.65527V14.1381H8.48286V11.3105Z" fill="black"
        ></path>
        <path d="M11.3105 11.3105H8.48291V14.1381H11.3105V11.3105Z" fill="black"
        ></path>
        <path d="M14.1381 11.3105H11.3105V14.1381H14.1381V11.3105Z" fill="black"
        ></path>
        <path d="M19.7934 11.3105H16.9658V14.1381H19.7934V11.3105Z" fill="black"
        ></path>
        <path d="M31.1035 11.3105H28.2759V14.1381H31.1035V11.3105Z" fill="black"
        ></path>
        <path d="M33.9311 11.3105H31.1035V14.1381H33.9311V11.3105Z" fill="black"
        ></path>
        <path d="M36.7587 11.3105H33.9312V14.1381H36.7587V11.3105Z" fill="black"
        ></path>
        <path d="M39.5864 11.3105H36.7588V14.1381H39.5864V11.3105Z" fill="black"
        ></path>
        <path d="M48.0693 11.3105H45.2417V14.1381H48.0693V11.3105Z" fill="black"
        ></path>
        <path d="M50.8969 11.3105H48.0693V14.1381H50.8969V11.3105Z" fill="black"
        ></path>
        <path d="M53.7246 11.3105H50.897V14.1381H53.7246V11.3105Z" fill="black"
        ></path>
        <path d="M56.5517 11.3105H53.7241V14.1381H56.5517V11.3105Z" fill="black"
        ></path>
        <path d="M59.3793 11.3105H56.5518V14.1381H59.3793V11.3105Z" fill="black"
        ></path>
        <path d="M65.0346 11.3105H62.207V14.1381H65.0346V11.3105Z" fill="black"
        ></path>
        <path d="M70.6899 11.3105H67.8623V14.1381H70.6899V11.3105Z" fill="black"
        ></path>
        <path d="M73.5175 11.3105H70.6899V14.1381H73.5175V11.3105Z" fill="black"
        ></path>
        <path d="M76.3452 11.3105H73.5176V14.1381H76.3452V11.3105Z" fill="black"
        ></path>
        <path d="M82.0004 11.3105H79.1729V14.1381H82.0004V11.3105Z" fill="black"
        ></path>
        <path d="M2.82759 14.1367H0V16.9643H2.82759V14.1367Z" fill="black"
        ></path>
        <path d="M19.7934 14.1367H16.9658V16.9643H19.7934V14.1367Z" fill="black"
        ></path>
        <path d="M28.2758 14.1367H25.4482V16.9643H28.2758V14.1367Z" fill="black"
        ></path>
        <path d="M33.9311 14.1367H31.1035V16.9643H33.9311V14.1367Z" fill="black"
        ></path>
        <path d="M48.0693 14.1367H45.2417V16.9643H48.0693V14.1367Z" fill="black"
        ></path>
        <path d="M50.8969 14.1367H48.0693V16.9643H50.8969V14.1367Z" fill="black"
        ></path>
        <path d="M59.3793 14.1367H56.5518V16.9643H59.3793V14.1367Z" fill="black"
        ></path>
        <path d="M65.0346 14.1367H62.207V16.9643H65.0346V14.1367Z" fill="black"
        ></path>
        <path d="M82.0004 14.1367H79.1729V16.9643H82.0004V14.1367Z" fill="black"
        ></path>
        <path d="M2.82759 16.9648H0V19.7924H2.82759V16.9648Z" fill="black"
        ></path>
        <path d="M5.65522 16.9648H2.82764V19.7924H5.65522V16.9648Z" fill="black"
        ></path>
        <path d="M8.48286 16.9648H5.65527V19.7924H8.48286V16.9648Z" fill="black"
        ></path>
        <path d="M11.3105 16.9648H8.48291V19.7924H11.3105V16.9648Z" fill="black"
        ></path>
        <path d="M14.1381 16.9648H11.3105V19.7924H14.1381V16.9648Z" fill="black"
        ></path>
        <path d="M16.9658 16.9648H14.1382V19.7924H16.9658V16.9648Z" fill="black"
        ></path>
        <path d="M19.7934 16.9648H16.9658V19.7924H19.7934V16.9648Z" fill="black"
        ></path>
        <path d="M25.4487 16.9648H22.6211V19.7924H25.4487V16.9648Z" fill="black"
        ></path>
        <path d="M31.1035 16.9648H28.2759V19.7924H31.1035V16.9648Z" fill="black"
        ></path>
        <path d="M36.7587 16.9648H33.9312V19.7924H36.7587V16.9648Z" fill="black"
        ></path>
        <path d="M42.414 16.9648H39.5864V19.7924H42.414V16.9648Z" fill="black"
        ></path>
        <path d="M48.0693 16.9648H45.2417V19.7924H48.0693V16.9648Z" fill="black"
        ></path>
        <path d="M53.7246 16.9648H50.897V19.7924H53.7246V16.9648Z" fill="black"
        ></path>
        <path d="M59.3793 16.9648H56.5518V19.7924H59.3793V16.9648Z" fill="black"
        ></path>
        <path d="M65.0346 16.9648H62.207V19.7924H65.0346V16.9648Z" fill="black"
        ></path>
        <path d="M67.8623 16.9648H65.0347V19.7924H67.8623V16.9648Z" fill="black"
        ></path>
        <path d="M70.6899 16.9648H67.8623V19.7924H70.6899V16.9648Z" fill="black"
        ></path>
        <path d="M73.5175 16.9648H70.6899V19.7924H73.5175V16.9648Z" fill="black"
        ></path>
        <path d="M76.3452 16.9648H73.5176V19.7924H76.3452V16.9648Z" fill="black"
        ></path>
        <path d="M79.1728 16.9648H76.3452V19.7924H79.1728V16.9648Z" fill="black"
        ></path>
        <path d="M82.0004 16.9648H79.1729V19.7924H82.0004V16.9648Z" fill="black"
        ></path>
        <path d="M25.4487 19.793H22.6211V22.6206H25.4487V19.793Z" fill="black"
        ></path>
        <path d="M28.2758 19.793H25.4482V22.6206H28.2758V19.793Z" fill="black"
        ></path>
        <path d="M39.5864 19.793H36.7588V22.6206H39.5864V19.793Z" fill="black"
        ></path>
        <path d="M45.2416 19.793H42.4141V22.6206H45.2416V19.793Z" fill="black"
        ></path>
        <path d="M59.3793 19.793H56.5518V22.6206H59.3793V19.793Z" fill="black"
        ></path>
        <path d="M2.82759 22.6191H0V25.4467H2.82759V22.6191Z" fill="black"
        ></path>
        <path d="M5.65522 22.6191H2.82764V25.4467H5.65522V22.6191Z" fill="black"
        ></path>
        <path d="M11.3105 22.6191H8.48291V25.4467H11.3105V22.6191Z" fill="black"
        ></path>
        <path d="M14.1381 22.6191H11.3105V25.4467H14.1381V22.6191Z" fill="black"
        ></path>
        <path d="M19.7934 22.6191H16.9658V25.4467H19.7934V22.6191Z" fill="black"
        ></path>
        <path d="M28.2758 22.6191H25.4482V25.4467H28.2758V22.6191Z" fill="black"
        ></path>
        <path d="M36.7587 22.6191H33.9312V25.4467H36.7587V22.6191Z" fill="black"
        ></path>
        <path d="M48.0693 22.6191H45.2417V25.4467H48.0693V22.6191Z" fill="black"
        ></path>
        <path d="M50.8969 22.6191H48.0693V25.4467H50.8969V22.6191Z" fill="black"
        ></path>
        <path d="M53.7246 22.6191H50.897V25.4467H53.7246V22.6191Z" fill="black"
        ></path>
        <path d="M65.0346 22.6191H62.207V25.4467H65.0346V22.6191Z" fill="black"
        ></path>
        <path d="M82.0004 22.6191H79.1729V25.4467H82.0004V22.6191Z" fill="black"
        ></path>
        <path d="M2.82759 25.4473H0V28.2749H2.82759V25.4473Z" fill="black"
        ></path>
        <path d="M5.65522 25.4473H2.82764V28.2749H5.65522V25.4473Z" fill="black"
        ></path>
        <path d="M11.3105 25.4473H8.48291V28.2749H11.3105V25.4473Z" fill="black"
        ></path>
        <path d="M16.9658 25.4473H14.1382V28.2749H16.9658V25.4473Z" fill="black"
        ></path>
        <path d="M22.621 25.4473H19.7935V28.2749H22.621V25.4473Z" fill="black"
        ></path>
        <path d="M31.1035 25.4473H28.2759V28.2749H31.1035V25.4473Z" fill="black"
        ></path>
        <path d="M33.9311 25.4473H31.1035V28.2749H33.9311V25.4473Z" fill="black"
        ></path>
        <path d="M39.5864 25.4473H36.7588V28.2749H39.5864V25.4473Z" fill="black"
        ></path>
        <path d="M45.2416 25.4473H42.4141V28.2749H45.2416V25.4473Z" fill="black"
        ></path>
        <path d="M50.8969 25.4473H48.0693V28.2749H50.8969V25.4473Z" fill="black"
        ></path>
        <path d="M53.7246 25.4473H50.897V28.2749H53.7246V25.4473Z" fill="black"
        ></path>
        <path d="M56.5517 25.4473H53.7241V28.2749H56.5517V25.4473Z" fill="black"
        ></path>
        <path d="M67.8623 25.4473H65.0347V28.2749H67.8623V25.4473Z" fill="black"
        ></path>
        <path d="M70.6899 25.4473H67.8623V28.2749H70.6899V25.4473Z" fill="black"
        ></path>
        <path d="M76.3452 25.4473H73.5176V28.2749H76.3452V25.4473Z" fill="black"
        ></path>
        <path d="M79.1728 25.4473H76.3452V28.2749H79.1728V25.4473Z" fill="black"
        ></path>
        <path d="M5.65522 28.2754H2.82764V31.103H5.65522V28.2754Z" fill="black"
        ></path>
        <path d="M11.3105 28.2754H8.48291V31.103H11.3105V28.2754Z" fill="black"
        ></path>
        <path d="M14.1381 28.2754H11.3105V31.103H14.1381V28.2754Z" fill="black"
        ></path>
        <path d="M19.7934 28.2754H16.9658V31.103H19.7934V28.2754Z" fill="black"
        ></path>
        <path d="M25.4487 28.2754H22.6211V31.103H25.4487V28.2754Z" fill="black"
        ></path>
        <path d="M28.2758 28.2754H25.4482V31.103H28.2758V28.2754Z" fill="black"
        ></path>
        <path d="M33.9311 28.2754H31.1035V31.103H33.9311V28.2754Z" fill="black"
        ></path>
        <path d="M39.5864 28.2754H36.7588V31.103H39.5864V28.2754Z" fill="black"
        ></path>
        <path d="M45.2416 28.2754H42.4141V31.103H45.2416V28.2754Z" fill="black"
        ></path>
        <path d="M59.3793 28.2754H56.5518V31.103H59.3793V28.2754Z" fill="black"
        ></path>
        <path d="M67.8623 28.2754H65.0347V31.103H67.8623V28.2754Z" fill="black"
        ></path>
        <path d="M76.3452 28.2754H73.5176V31.103H76.3452V28.2754Z" fill="black"
        ></path>
        <path d="M2.82759 31.1035H0V33.9311H2.82759V31.1035Z" fill="black"
        ></path>
        <path d="M5.65522 31.1035H2.82764V33.9311H5.65522V31.1035Z" fill="black"
        ></path>
        <path d="M8.48286 31.1035H5.65527V33.9311H8.48286V31.1035Z" fill="black"
        ></path>
        <path d="M11.3105 31.1035H8.48291V33.9311H11.3105V31.1035Z" fill="black"
        ></path>
        <path d="M14.1381 31.1035H11.3105V33.9311H14.1381V31.1035Z" fill="black"
        ></path>
        <path d="M16.9658 31.1035H14.1382V33.9311H16.9658V31.1035Z" fill="black"
        ></path>
        <path d="M22.621 31.1035H19.7935V33.9311H22.621V31.1035Z" fill="black"
        ></path>
        <path d="M25.4487 31.1035H22.6211V33.9311H25.4487V31.1035Z" fill="black"
        ></path>
        <path d="M33.9311 31.1035H31.1035V33.9311H33.9311V31.1035Z" fill="black"
        ></path>
        <path d="M42.414 31.1035H39.5864V33.9311H42.414V31.1035Z" fill="black"
        ></path>
        <path d="M50.8969 31.1035H48.0693V33.9311H50.8969V31.1035Z" fill="black"
        ></path>
        <path d="M56.5517 31.1035H53.7241V33.9311H56.5517V31.1035Z" fill="black"
        ></path>
        <path d="M59.3793 31.1035H56.5518V33.9311H59.3793V31.1035Z" fill="black"
        ></path>
        <path d="M62.207 31.1035H59.3794V33.9311H62.207V31.1035Z" fill="black"
        ></path>
        <path d="M65.0346 31.1035H62.207V33.9311H65.0346V31.1035Z" fill="black"
        ></path>
        <path d="M67.8623 31.1035H65.0347V33.9311H67.8623V31.1035Z" fill="black"
        ></path>
        <path d="M70.6899 31.1035H67.8623V33.9311H70.6899V31.1035Z" fill="black"
        ></path>
        <path d="M73.5175 31.1035H70.6899V33.9311H73.5175V31.1035Z" fill="black"
        ></path>
        <path d="M82.0004 31.1035H79.1729V33.9311H82.0004V31.1035Z" fill="black"
        ></path>
        <path d="M5.65522 33.9297H2.82764V36.7573H5.65522V33.9297Z" fill="black"
        ></path>
        <path d="M8.48286 33.9297H5.65527V36.7573H8.48286V33.9297Z" fill="black"
        ></path>
        <path d="M11.3105 33.9297H8.48291V36.7573H11.3105V33.9297Z" fill="black"
        ></path>
        <path d="M19.7934 33.9297H16.9658V36.7573H19.7934V33.9297Z" fill="black"
        ></path>
        <path d="M22.621 33.9297H19.7935V36.7573H22.621V33.9297Z" fill="black"
        ></path>
        <path d="M28.2758 33.9297H25.4482V36.7573H28.2758V33.9297Z" fill="black"
        ></path>
        <path d="M31.1035 33.9297H28.2759V36.7573H31.1035V33.9297Z" fill="black"
        ></path>
        <path d="M33.9311 33.9297H31.1035V36.7573H33.9311V33.9297Z" fill="black"
        ></path>
        <path d="M45.2416 33.9297H42.4141V36.7573H45.2416V33.9297Z" fill="black"
        ></path>
        <path d="M53.7246 33.9297H50.897V36.7573H53.7246V33.9297Z" fill="black"
        ></path>
        <path d="M59.3793 33.9297H56.5518V36.7573H59.3793V33.9297Z" fill="black"
        ></path>
        <path d="M62.207 33.9297H59.3794V36.7573H62.207V33.9297Z" fill="black"
        ></path>
        <path d="M65.0346 33.9297H62.207V36.7573H65.0346V33.9297Z" fill="black"
        ></path>
        <path d="M82.0004 33.9297H79.1729V36.7573H82.0004V33.9297Z" fill="black"
        ></path>
        <path d="M2.82759 36.7578H0V39.5854H2.82759V36.7578Z" fill="black"
        ></path>
        <path d="M8.48286 36.7578H5.65527V39.5854H8.48286V36.7578Z" fill="black"
        ></path>
        <path d="M11.3105 36.7578H8.48291V39.5854H11.3105V36.7578Z" fill="black"
        ></path>
        <path d="M31.1035 36.7578H28.2759V39.5854H31.1035V36.7578Z" fill="black"
        ></path>
        <path d="M33.9311 36.7578H31.1035V39.5854H33.9311V36.7578Z" fill="black"
        ></path>
        <path d="M39.5864 36.7578H36.7588V39.5854H39.5864V36.7578Z" fill="black"
        ></path>
        <path d="M42.414 36.7578H39.5864V39.5854H42.414V36.7578Z" fill="black"
        ></path>
        <path d="M45.2416 36.7578H42.4141V39.5854H45.2416V36.7578Z" fill="black"
        ></path>
        <path d="M48.0693 36.7578H45.2417V39.5854H48.0693V36.7578Z" fill="black"
        ></path>
        <path d="M65.0346 36.7578H62.207V39.5854H65.0346V36.7578Z" fill="black"
        ></path>
        <path d="M67.8623 36.7578H65.0347V39.5854H67.8623V36.7578Z" fill="black"
        ></path>
        <path d="M70.6899 36.7578H67.8623V39.5854H70.6899V36.7578Z" fill="black"
        ></path>
        <path d="M73.5175 36.7578H70.6899V39.5854H73.5175V36.7578Z" fill="black"
        ></path>
        <path d="M76.3452 36.7578H73.5176V39.5854H76.3452V36.7578Z" fill="black"
        ></path>
        <path d="M79.1728 36.7578H76.3452V39.5854H79.1728V36.7578Z" fill="black"
        ></path>
        <path d="M82.0004 36.7578H79.1729V39.5854H82.0004V36.7578Z" fill="black"
        ></path>
        <path d="M2.82759 39.5859H0V42.4135H2.82759V39.5859Z" fill="black"
        ></path>
        <path d="M19.7934 39.5859H16.9658V42.4135H19.7934V39.5859Z" fill="black"
        ></path>
        <path d="M28.2758 39.5859H25.4482V42.4135H28.2758V39.5859Z" fill="black"
        ></path>
        <path d="M36.7587 39.5859H33.9312V42.4135H36.7587V39.5859Z" fill="black"
        ></path>
        <path d="M39.5864 39.5859H36.7588V42.4135H39.5864V39.5859Z" fill="black"
        ></path>
        <path d="M45.2416 39.5859H42.4141V42.4135H45.2416V39.5859Z" fill="black"
        ></path>
        <path d="M56.5517 39.5859H53.7241V42.4135H56.5517V39.5859Z" fill="black"
        ></path>
        <path d="M59.3793 39.5859H56.5518V42.4135H59.3793V39.5859Z" fill="black"
        ></path>
        <path d="M67.8623 39.5859H65.0347V42.4135H67.8623V39.5859Z" fill="black"
        ></path>
        <path d="M70.6899 39.5859H67.8623V42.4135H70.6899V39.5859Z" fill="black"
        ></path>
        <path d="M76.3452 39.5859H73.5176V42.4135H76.3452V39.5859Z" fill="black"
        ></path>
        <path d="M82.0004 39.5859H79.1729V42.4135H82.0004V39.5859Z" fill="black"
        ></path>
        <path d="M5.65522 42.4121H2.82764V45.2397H5.65522V42.4121Z" fill="black"
        ></path>
        <path d="M8.48286 42.4121H5.65527V45.2397H8.48286V42.4121Z" fill="black"
        ></path>
        <path d="M11.3105 42.4121H8.48291V45.2397H11.3105V42.4121Z" fill="black"
        ></path>
        <path d="M14.1381 42.4121H11.3105V45.2397H14.1381V42.4121Z" fill="black"
        ></path>
        <path d="M16.9658 42.4121H14.1382V45.2397H16.9658V42.4121Z" fill="black"
        ></path>
        <path d="M22.621 42.4121H19.7935V45.2397H22.621V42.4121Z" fill="black"
        ></path>
        <path d="M25.4487 42.4121H22.6211V45.2397H25.4487V42.4121Z" fill="black"
        ></path>
        <path d="M33.9311 42.4121H31.1035V45.2397H33.9311V42.4121Z" fill="black"
        ></path>
        <path d="M36.7587 42.4121H33.9312V45.2397H36.7587V42.4121Z" fill="black"
        ></path>
        <path d="M53.7246 42.4121H50.897V45.2397H53.7246V42.4121Z" fill="black"
        ></path>
        <path d="M59.3793 42.4121H56.5518V45.2397H59.3793V42.4121Z" fill="black"
        ></path>
        <path d="M67.8623 42.4121H65.0347V45.2397H67.8623V42.4121Z" fill="black"
        ></path>
        <path d="M70.6899 42.4121H67.8623V45.2397H70.6899V42.4121Z" fill="black"
        ></path>
        <path d="M76.3452 42.4121H73.5176V45.2397H76.3452V42.4121Z" fill="black"
        ></path>
        <path d="M82.0004 42.4121H79.1729V45.2397H82.0004V42.4121Z" fill="black"
        ></path>
        <path d="M5.65522 45.2402H2.82764V48.0678H5.65522V45.2402Z" fill="black"
        ></path>
        <path d="M11.3105 45.2402H8.48291V48.0678H11.3105V45.2402Z" fill="black"
        ></path>
        <path d="M19.7934 45.2402H16.9658V48.0678H19.7934V45.2402Z" fill="black"
        ></path>
        <path d="M25.4487 45.2402H22.6211V48.0678H25.4487V45.2402Z" fill="black"
        ></path>
        <path d="M28.2758 45.2402H25.4482V48.0678H28.2758V45.2402Z" fill="black"
        ></path>
        <path d="M31.1035 45.2402H28.2759V48.0678H31.1035V45.2402Z" fill="black"
        ></path>
        <path d="M33.9311 45.2402H31.1035V48.0678H33.9311V45.2402Z" fill="black"
        ></path>
        <path d="M39.5864 45.2402H36.7588V48.0678H39.5864V45.2402Z" fill="black"
        ></path>
        <path d="M50.8969 45.2402H48.0693V48.0678H50.8969V45.2402Z" fill="black"
        ></path>
        <path d="M56.5517 45.2402H53.7241V48.0678H56.5517V45.2402Z" fill="black"
        ></path>
        <path d="M59.3793 45.2402H56.5518V48.0678H59.3793V45.2402Z" fill="black"
        ></path>
        <path d="M73.5175 45.2402H70.6899V48.0678H73.5175V45.2402Z" fill="black"
        ></path>
        <path d="M2.82759 48.0684H0V50.8959H2.82759V48.0684Z" fill="black"
        ></path>
        <path d="M8.48286 48.0684H5.65527V50.8959H8.48286V48.0684Z" fill="black"
        ></path>
        <path d="M22.621 48.0684H19.7935V50.8959H22.621V48.0684Z" fill="black"
        ></path>
        <path d="M45.2416 48.0684H42.4141V50.8959H45.2416V48.0684Z" fill="black"
        ></path>
        <path d="M56.5517 48.0684H53.7241V50.8959H56.5517V48.0684Z" fill="black"
        ></path>
        <path d="M59.3793 48.0684H56.5518V50.8959H59.3793V48.0684Z" fill="black"
        ></path>
        <path d="M70.6899 48.0684H67.8623V50.8959H70.6899V48.0684Z" fill="black"
        ></path>
        <path d="M76.3452 48.0684H73.5176V50.8959H76.3452V48.0684Z" fill="black"
        ></path>
        <path d="M79.1728 48.0684H76.3452V50.8959H79.1728V48.0684Z" fill="black"
        ></path>
        <path d="M2.82759 50.8965H0V53.7241H2.82759V50.8965Z" fill="black"
        ></path>
        <path d="M5.65522 50.8965H2.82764V53.7241H5.65522V50.8965Z" fill="black"
        ></path>
        <path d="M8.48286 50.8965H5.65527V53.7241H8.48286V50.8965Z" fill="black"
        ></path>
        <path d="M14.1381 50.8965H11.3105V53.7241H14.1381V50.8965Z" fill="black"
        ></path>
        <path d="M19.7934 50.8965H16.9658V53.7241H19.7934V50.8965Z" fill="black"
        ></path>
        <path d="M25.4487 50.8965H22.6211V53.7241H25.4487V50.8965Z" fill="black"
        ></path>
        <path d="M33.9311 50.8965H31.1035V53.7241H33.9311V50.8965Z" fill="black"
        ></path>
        <path d="M36.7587 50.8965H33.9312V53.7241H36.7587V50.8965Z" fill="black"
        ></path>
        <path d="M45.2416 50.8965H42.4141V53.7241H45.2416V50.8965Z" fill="black"
        ></path>
        <path d="M50.8969 50.8965H48.0693V53.7241H50.8969V50.8965Z" fill="black"
        ></path>
        <path d="M53.7246 50.8965H50.897V53.7241H53.7246V50.8965Z" fill="black"
        ></path>
        <path d="M56.5517 50.8965H53.7241V53.7241H56.5517V50.8965Z" fill="black"
        ></path>
        <path d="M59.3793 50.8965H56.5518V53.7241H59.3793V50.8965Z" fill="black"
        ></path>
        <path d="M67.8623 50.8965H65.0347V53.7241H67.8623V50.8965Z" fill="black"
        ></path>
        <path d="M70.6899 50.8965H67.8623V53.7241H70.6899V50.8965Z" fill="black"
        ></path>
        <path d="M73.5175 50.8965H70.6899V53.7241H73.5175V50.8965Z" fill="black"
        ></path>
        <path d="M82.0004 50.8965H79.1729V53.7241H82.0004V50.8965Z" fill="black"
        ></path>
        <path d="M2.82759 53.7227H0V56.5502H2.82759V53.7227Z" fill="black"
        ></path>
        <path d="M5.65522 53.7227H2.82764V56.5502H5.65522V53.7227Z" fill="black"
        ></path>
        <path d="M8.48286 53.7227H5.65527V56.5502H8.48286V53.7227Z" fill="black"
        ></path>
        <path d="M25.4487 53.7227H22.6211V56.5502H25.4487V53.7227Z" fill="black"
        ></path>
        <path d="M39.5864 53.7227H36.7588V56.5502H39.5864V53.7227Z" fill="black"
        ></path>
        <path d="M42.414 53.7227H39.5864V56.5502H42.414V53.7227Z" fill="black"
        ></path>
        <path d="M45.2416 53.7227H42.4141V56.5502H45.2416V53.7227Z" fill="black"
        ></path>
        <path d="M48.0693 53.7227H45.2417V56.5502H48.0693V53.7227Z" fill="black"
        ></path>
        <path d="M53.7246 53.7227H50.897V56.5502H53.7246V53.7227Z" fill="black"
        ></path>
        <path d="M56.5517 53.7227H53.7241V56.5502H56.5517V53.7227Z" fill="black"
        ></path>
        <path d="M62.207 53.7227H59.3794V56.5502H62.207V53.7227Z" fill="black"
        ></path>
        <path d="M65.0346 53.7227H62.207V56.5502H65.0346V53.7227Z" fill="black"
        ></path>
        <path d="M67.8623 53.7227H65.0347V56.5502H67.8623V53.7227Z" fill="black"
        ></path>
        <path d="M73.5175 53.7227H70.6899V56.5502H73.5175V53.7227Z" fill="black"
        ></path>
        <path d="M76.3452 53.7227H73.5176V56.5502H76.3452V53.7227Z" fill="black"
        ></path>
        <path d="M2.82759 56.5508H0V59.3784H2.82759V56.5508Z" fill="black"
        ></path>
        <path d="M5.65522 56.5508H2.82764V59.3784H5.65522V56.5508Z" fill="black"
        ></path>
        <path d="M11.3105 56.5508H8.48291V59.3784H11.3105V56.5508Z" fill="black"
        ></path>
        <path d="M14.1381 56.5508H11.3105V59.3784H14.1381V56.5508Z" fill="black"
        ></path>
        <path d="M19.7934 56.5508H16.9658V59.3784H19.7934V56.5508Z" fill="black"
        ></path>
        <path d="M31.1035 56.5508H28.2759V59.3784H31.1035V56.5508Z" fill="black"
        ></path>
        <path d="M39.5864 56.5508H36.7588V59.3784H39.5864V56.5508Z" fill="black"
        ></path>
        <path d="M42.414 56.5508H39.5864V59.3784H42.414V56.5508Z" fill="black"
        ></path>
        <path d="M45.2416 56.5508H42.4141V59.3784H45.2416V56.5508Z" fill="black"
        ></path>
        <path d="M48.0693 56.5508H45.2417V59.3784H48.0693V56.5508Z" fill="black"
        ></path>
        <path d="M50.8969 56.5508H48.0693V59.3784H50.8969V56.5508Z" fill="black"
        ></path>
        <path d="M59.3793 56.5508H56.5518V59.3784H59.3793V56.5508Z" fill="black"
        ></path>
        <path d="M62.207 56.5508H59.3794V59.3784H62.207V56.5508Z" fill="black"
        ></path>
        <path d="M65.0346 56.5508H62.207V59.3784H65.0346V56.5508Z" fill="black"
        ></path>
        <path d="M67.8623 56.5508H65.0347V59.3784H67.8623V56.5508Z" fill="black"
        ></path>
        <path d="M70.6899 56.5508H67.8623V59.3784H70.6899V56.5508Z" fill="black"
        ></path>
        <path d="M73.5175 56.5508H70.6899V59.3784H73.5175V56.5508Z" fill="black"
        ></path>
        <path d="M76.3452 56.5508H73.5176V59.3784H76.3452V56.5508Z" fill="black"
        ></path>
        <path d="M79.1728 56.5508H76.3452V59.3784H79.1728V56.5508Z" fill="black"
        ></path>
        <path d="M25.4487 59.3789H22.6211V62.2065H25.4487V59.3789Z" fill="black"
        ></path>
        <path d="M28.2758 59.3789H25.4482V62.2065H28.2758V59.3789Z" fill="black"
        ></path>
        <path d="M31.1035 59.3789H28.2759V62.2065H31.1035V59.3789Z" fill="black"
        ></path>
        <path d="M33.9311 59.3789H31.1035V62.2065H33.9311V59.3789Z" fill="black"
        ></path>
        <path d="M39.5864 59.3789H36.7588V62.2065H39.5864V59.3789Z" fill="black"
        ></path>
        <path d="M45.2416 59.3789H42.4141V62.2065H45.2416V59.3789Z" fill="black"
        ></path>
        <path d="M59.3793 59.3789H56.5518V62.2065H59.3793V59.3789Z" fill="black"
        ></path>
        <path d="M70.6899 59.3789H67.8623V62.2065H70.6899V59.3789Z" fill="black"
        ></path>
        <path d="M73.5175 59.3789H70.6899V62.2065H73.5175V59.3789Z" fill="black"
        ></path>
        <path d="M2.82759 62.207H0V65.0346H2.82759V62.207Z" fill="black"></path>
        <path d="M5.65522 62.207H2.82764V65.0346H5.65522V62.207Z" fill="black"
        ></path>
        <path d="M8.48286 62.207H5.65527V65.0346H8.48286V62.207Z" fill="black"
        ></path>
        <path d="M11.3105 62.207H8.48291V65.0346H11.3105V62.207Z" fill="black"
        ></path>
        <path d="M14.1381 62.207H11.3105V65.0346H14.1381V62.207Z" fill="black"
        ></path>
        <path d="M16.9658 62.207H14.1382V65.0346H16.9658V62.207Z" fill="black"
        ></path>
        <path d="M19.7934 62.207H16.9658V65.0346H19.7934V62.207Z" fill="black"
        ></path>
        <path d="M33.9311 62.207H31.1035V65.0346H33.9311V62.207Z" fill="black"
        ></path>
        <path d="M39.5864 62.207H36.7588V65.0346H39.5864V62.207Z" fill="black"
        ></path>
        <path d="M45.2416 62.207H42.4141V65.0346H45.2416V62.207Z" fill="black"
        ></path>
        <path d="M53.7246 62.207H50.897V65.0346H53.7246V62.207Z" fill="black"
        ></path>
        <path d="M56.5517 62.207H53.7241V65.0346H56.5517V62.207Z" fill="black"
        ></path>
        <path d="M59.3793 62.207H56.5518V65.0346H59.3793V62.207Z" fill="black"
        ></path>
        <path d="M65.0346 62.207H62.207V65.0346H65.0346V62.207Z" fill="black"
        ></path>
        <path d="M70.6899 62.207H67.8623V65.0346H70.6899V62.207Z" fill="black"
        ></path>
        <path d="M73.5175 62.207H70.6899V65.0346H73.5175V62.207Z" fill="black"
        ></path>
        <path d="M2.82759 65.0332H0V67.8608H2.82759V65.0332Z" fill="black"
        ></path>
        <path d="M19.7934 65.0332H16.9658V67.8608H19.7934V65.0332Z" fill="black"
        ></path>
        <path d="M28.2758 65.0332H25.4482V67.8608H28.2758V65.0332Z" fill="black"
        ></path>
        <path d="M31.1035 65.0332H28.2759V67.8608H31.1035V65.0332Z" fill="black"
        ></path>
        <path d="M33.9311 65.0332H31.1035V67.8608H33.9311V65.0332Z" fill="black"
        ></path>
        <path d="M42.414 65.0332H39.5864V67.8608H42.414V65.0332Z" fill="black"
        ></path>
        <path d="M45.2416 65.0332H42.4141V67.8608H45.2416V65.0332Z" fill="black"
        ></path>
        <path d="M50.8969 65.0332H48.0693V67.8608H50.8969V65.0332Z" fill="black"
        ></path>
        <path d="M53.7246 65.0332H50.897V67.8608H53.7246V65.0332Z" fill="black"
        ></path>
        <path d="M56.5517 65.0332H53.7241V67.8608H56.5517V65.0332Z" fill="black"
        ></path>
        <path d="M59.3793 65.0332H56.5518V67.8608H59.3793V65.0332Z" fill="black"
        ></path>
        <path d="M70.6899 65.0332H67.8623V67.8608H70.6899V65.0332Z" fill="black"
        ></path>
        <path d="M79.1728 65.0332H76.3452V67.8608H79.1728V65.0332Z" fill="black"
        ></path>
        <path d="M82.0004 65.0332H79.1729V67.8608H82.0004V65.0332Z" fill="black"
        ></path>
        <path d="M2.82759 67.8613H0V70.6889H2.82759V67.8613Z" fill="black"
        ></path>
        <path d="M8.48286 67.8613H5.65527V70.6889H8.48286V67.8613Z" fill="black"
        ></path>
        <path d="M11.3105 67.8613H8.48291V70.6889H11.3105V67.8613Z" fill="black"
        ></path>
        <path d="M14.1381 67.8613H11.3105V70.6889H14.1381V67.8613Z" fill="black"
        ></path>
        <path d="M19.7934 67.8613H16.9658V70.6889H19.7934V67.8613Z" fill="black"
        ></path>
        <path d="M25.4487 67.8613H22.6211V70.6889H25.4487V67.8613Z" fill="black"
        ></path>
        <path d="M28.2758 67.8613H25.4482V70.6889H28.2758V67.8613Z" fill="black"
        ></path>
        <path d="M45.2416 67.8613H42.4141V70.6889H45.2416V67.8613Z" fill="black"
        ></path>
        <path d="M56.5517 67.8613H53.7241V70.6889H56.5517V67.8613Z" fill="black"
        ></path>
        <path d="M59.3793 67.8613H56.5518V70.6889H59.3793V67.8613Z" fill="black"
        ></path>
        <path d="M62.207 67.8613H59.3794V70.6889H62.207V67.8613Z" fill="black"
        ></path>
        <path d="M65.0346 67.8613H62.207V70.6889H65.0346V67.8613Z" fill="black"
        ></path>
        <path d="M67.8623 67.8613H65.0347V70.6889H67.8623V67.8613Z" fill="black"
        ></path>
        <path d="M70.6899 67.8613H67.8623V70.6889H70.6899V67.8613Z" fill="black"
        ></path>
        <path d="M73.5175 67.8613H70.6899V70.6889H73.5175V67.8613Z" fill="black"
        ></path>
        <path d="M79.1728 67.8613H76.3452V70.6889H79.1728V67.8613Z" fill="black"
        ></path>
        <path d="M82.0004 67.8613H79.1729V70.6889H82.0004V67.8613Z" fill="black"
        ></path>
        <path d="M2.82759 70.6895H0V73.517H2.82759V70.6895Z" fill="black"
        ></path>
        <path d="M8.48286 70.6895H5.65527V73.517H8.48286V70.6895Z" fill="black"
        ></path>
        <path d="M11.3105 70.6895H8.48291V73.517H11.3105V70.6895Z" fill="black"
        ></path>
        <path d="M14.1381 70.6895H11.3105V73.517H14.1381V70.6895Z" fill="black"
        ></path>
        <path d="M19.7934 70.6895H16.9658V73.517H19.7934V70.6895Z" fill="black"
        ></path>
        <path d="M25.4487 70.6895H22.6211V73.517H25.4487V70.6895Z" fill="black"
        ></path>
        <path d="M31.1035 70.6895H28.2759V73.517H31.1035V70.6895Z" fill="black"
        ></path>
        <path d="M33.9311 70.6895H31.1035V73.517H33.9311V70.6895Z" fill="black"
        ></path>
        <path d="M36.7587 70.6895H33.9312V73.517H36.7587V70.6895Z" fill="black"
        ></path>
        <path d="M39.5864 70.6895H36.7588V73.517H39.5864V70.6895Z" fill="black"
        ></path>
        <path d="M45.2416 70.6895H42.4141V73.517H45.2416V70.6895Z" fill="black"
        ></path>
        <path d="M50.8969 70.6895H48.0693V73.517H50.8969V70.6895Z" fill="black"
        ></path>
        <path d="M53.7246 70.6895H50.897V73.517H53.7246V70.6895Z" fill="black"
        ></path>
        <path d="M59.3793 70.6895H56.5518V73.517H59.3793V70.6895Z" fill="black"
        ></path>
        <path d="M62.207 70.6895H59.3794V73.517H62.207V70.6895Z" fill="black"
        ></path>
        <path d="M79.1728 70.6895H76.3452V73.517H79.1728V70.6895Z" fill="black"
        ></path>
        <path d="M82.0004 70.6895H79.1729V73.517H82.0004V70.6895Z" fill="black"
        ></path>
        <path d="M2.82759 73.5156H0V76.3432H2.82759V73.5156Z" fill="black"
        ></path>
        <path d="M8.48286 73.5156H5.65527V76.3432H8.48286V73.5156Z" fill="black"
        ></path>
        <path d="M11.3105 73.5156H8.48291V76.3432H11.3105V73.5156Z" fill="black"
        ></path>
        <path d="M14.1381 73.5156H11.3105V76.3432H14.1381V73.5156Z" fill="black"
        ></path>
        <path d="M19.7934 73.5156H16.9658V76.3432H19.7934V73.5156Z" fill="black"
        ></path>
        <path d="M31.1035 73.5156H28.2759V76.3432H31.1035V73.5156Z" fill="black"
        ></path>
        <path d="M36.7587 73.5156H33.9312V76.3432H36.7587V73.5156Z" fill="black"
        ></path>
        <path d="M39.5864 73.5156H36.7588V76.3432H39.5864V73.5156Z" fill="black"
        ></path>
        <path d="M45.2416 73.5156H42.4141V76.3432H45.2416V73.5156Z" fill="black"
        ></path>
        <path d="M62.207 73.5156H59.3794V76.3432H62.207V73.5156Z" fill="black"
        ></path>
        <path d="M67.8623 73.5156H65.0347V76.3432H67.8623V73.5156Z" fill="black"
        ></path>
        <path d="M70.6899 73.5156H67.8623V76.3432H70.6899V73.5156Z" fill="black"
        ></path>
        <path d="M76.3452 73.5156H73.5176V76.3432H76.3452V73.5156Z" fill="black"
        ></path>
        <path d="M79.1728 73.5156H76.3452V76.3432H79.1728V73.5156Z" fill="black"
        ></path>
        <path d="M82.0004 73.5156H79.1729V76.3432H82.0004V73.5156Z" fill="black"
        ></path>
        <path d="M2.82759 76.3438H0V79.1713H2.82759V76.3438Z" fill="black"
        ></path>
        <path d="M19.7934 76.3438H16.9658V79.1713H19.7934V76.3438Z" fill="black"
        ></path>
        <path d="M25.4487 76.3438H22.6211V79.1713H25.4487V76.3438Z" fill="black"
        ></path>
        <path d="M28.2758 76.3438H25.4482V79.1713H28.2758V76.3438Z" fill="black"
        ></path>
        <path d="M33.9311 76.3438H31.1035V79.1713H33.9311V76.3438Z" fill="black"
        ></path>
        <path d="M36.7587 76.3438H33.9312V79.1713H36.7587V76.3438Z" fill="black"
        ></path>
        <path d="M45.2416 76.3438H42.4141V79.1713H45.2416V76.3438Z" fill="black"
        ></path>
        <path d="M53.7246 76.3438H50.897V79.1713H53.7246V76.3438Z" fill="black"
        ></path>
        <path d="M62.207 76.3438H59.3794V79.1713H62.207V76.3438Z" fill="black"
        ></path>
        <path d="M73.5175 76.3438H70.6899V79.1713H73.5175V76.3438Z" fill="black"
        ></path>
        <path d="M76.3452 76.3438H73.5176V79.1713H76.3452V76.3438Z" fill="black"
        ></path>
        <path d="M82.0004 76.3438H79.1729V79.1713H82.0004V76.3438Z" fill="black"
        ></path>
        <path d="M2.82759 79.1719H0V81.9995H2.82759V79.1719Z" fill="black"
        ></path>
        <path d="M5.65522 79.1719H2.82764V81.9995H5.65522V79.1719Z" fill="black"
        ></path>
        <path d="M8.48286 79.1719H5.65527V81.9995H8.48286V79.1719Z" fill="black"
        ></path>
        <path d="M11.3105 79.1719H8.48291V81.9995H11.3105V79.1719Z" fill="black"
        ></path>
        <path d="M14.1381 79.1719H11.3105V81.9995H14.1381V79.1719Z" fill="black"
        ></path>
        <path d="M16.9658 79.1719H14.1382V81.9995H16.9658V79.1719Z" fill="black"
        ></path>
        <path d="M19.7934 79.1719H16.9658V81.9995H19.7934V79.1719Z" fill="black"
        ></path>
        <path d="M25.4487 79.1719H22.6211V81.9995H25.4487V79.1719Z" fill="black"
        ></path>
        <path d="M33.9311 79.1719H31.1035V81.9995H33.9311V79.1719Z" fill="black"
        ></path>
        <path d="M39.5864 79.1719H36.7588V81.9995H39.5864V79.1719Z" fill="black"
        ></path>
        <path d="M53.7246 79.1719H50.897V81.9995H53.7246V79.1719Z" fill="black"
        ></path>
        <path d="M56.5517 79.1719H53.7241V81.9995H56.5517V79.1719Z" fill="black"
        ></path>
        <path d="M59.3793 79.1719H56.5518V81.9995H59.3793V79.1719Z" fill="black"
        ></path>
        <path d="M62.207 79.1719H59.3794V81.9995H62.207V79.1719Z" fill="black"
        ></path>
        <path d="M65.0346 79.1719H62.207V81.9995H65.0346V79.1719Z" fill="black"
        ></path>
        <path d="M70.6899 79.1719H67.8623V81.9995H70.6899V79.1719Z" fill="black"
        ></path>
      </g>
      <defs>
        <clipPath id="clip0_0_4481">
          <rect width="82" height="82" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
  <span class="download-app__text">download app</span>
</div>
